.circle {
  position: relative;
  border-radius: 50%;
  background-color: red;
}
.circlegraph{
  width: 500px;
  height: 100%;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circlegraph>div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle-1 {
  width: 80%;
  height: 80%;
  background-color:#0047AB;
  color: white;
  text-align: center;
  line-height: 10px;



}
.circle-2 {
  width: 80%;
  height: 80%;
  background-color:   #0097a7;
  color: black;
  text-align: center;
  line-height: 150px;
  font-size: 50px;
}
.circle-3 {
  width: 80%;
  height: 80%;
  background-color: #6742c1;
  color: black;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}
.glass {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  padding: 20px;
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4); /* Optional: adds light border */
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: larger;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  &:hover
    {
      transform: scale(1.1);
    }
}
