.custom-header {
  background-color: #d0c6b6;
  color: black;
}
.modal-header .btn-close {
  filter: none;
}
button.btn-primary {
  background-color: #4D4D4D;
  color: #ffffff;
}
button.btn-secondary {
  background-color: #faeaea;
  color: rgb(17, 16, 16);
}
button.btn-primary:hover {
  background-color: #d0c6b6;
  color: rgb(43, 28, 6);
  transform: scale(1.05);
}
button.btn-primary:active {
  background-color: #b5ab9c;
  color: rgb(29, 19, 4);
  transform: scale(0.95);
  transition: all 0.1s ease;
}
