.container{
  background-color: var( --primary-color) ;
  padding: 10px;
  border-radius: 7px;
  width: 100%;
  max-width: 100%;
}


.risk-type-1 {
  border-left: 0px solid var(--quality-color);
}

.risk-type-2 {
  border-left: 0px solid var(--security-color);
}

.risk-type-3 {
  border-left: 0px solid var(--privacy-color);
}
