.navbar{
    height: 5vh;
    width: 84vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin-left: 5px;
    color: black;

    h2{
        color:black;
        // padding: 10px;
    }
    .nav-text{
        display: flex;
        justify-content: space-between;
        margin-right: 2rem;
        margin-top: 6px;
        width: 100%;
    }
    .bi{
        color: white;
        font-size: 2rem;
    }



}

