.navbar {
  height: 5vh;
  width: 84vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin-left: 5px;
  color: black;

  h2 {
    color: black;
  }
  .nav-text {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-top: 6px;
    width: 100%;
  }
  .bi {
    color: white;
    font-size: 2rem;
  }
}
.dropdown-container {
  position: absolute;
  display: inline-block;
  right: 5px;
  height: 200px;
  width: 150px;
  cursor: pointer;
  background-color: rgb(255, 252, 252);
}

img {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 150px;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  color: #0a0a0a;
  font-size: 14px;
  font-weight: 500;

  h6 {
    color: #0a0a0a;
    font-size: 14px;
    font-weight: 500px;
  }
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}
