
main{
  box-sizing: border-box;
  padding: 0;
  height:100%;
  width: 96.5%;
  margin: 0;

}
main>div>div
{
  box-sizing: border-box;
  overflow-y: none;

  // padding: 50px;
  padding-top: 70px;

  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  height: 86vh;
}


main>div>div::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}
.rounded
{
  border-radius: 30px;
}
