<!-- 
<div class="profile-card">
  <div class="profile-content">
    <div class="avatar-container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE4zy_4dgYTe_TCFVfT7tyD2ZGLoB_KxwPgw&s" [alt]="name" class="avatar">
    </div>

    <div class="profile-info">
      <h2 class="name">{{ name }} achu </h2>
      <p class="title">{{ title }} Developer</p>
      <p class="department">{{department}}SFM </p>
    </div>

    <div class="metrics">
      <div class="metric-item" *ngFor="let metric of metrics">
        <div class="metric-count">{{ metric.count }}</div>
        <div class="metric-label">{{ metric.label }}</div>
      </div>
    </div>
  </div>
</div> -->
