:host {

  height: 100%;
}
.Detailscard
{
  width: 100%;
  min-height: 20vh; /* Guarantee minimum size */
  height: 100%;
  border-radius: 10px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction:row;
  height: 100%;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;


}


.Detailscard>div
{
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items:start;

  height: 100%;
  width: 80%;

  box-sizing: border-box;
}

.risk-number-type-and-edit-button
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

}






.risk-code
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  gap: 10px;
  height: 5vh;
  width: auto;


}

.risk-code>div{
  height: 90%;
  width: 2px;
  background-color: #D9D9D9;
}

.risk-code>h5{
  font-size: 17px;
  margin: 0px;
  font-weight: bold;
  color: var(--primary-text-color);
}

.riskdesc{
  width: 70%;
}
p{
  font-size: 2.2vh;
  color: var(--primary-text-color);
}

h5{
  font-size: 2.7vh;
  color: var(--primary-text-color);
}
