<div class=" Detailscard ">
  <div >
    <div  >

      <div class="risk-number-type-and-edit-button" >
        <div class=" risk-code ">
          <h5>{{riskNumber}}</h5>
          <div ></div>
          <h5>{{riskType}} Risk</h5>
        </div>
        <app-edit-button [ngStyle]="{'display':isEditable?'flex':'none'}"  (onClick)="onEditButtonClicked()"></app-edit-button>


      </div>

      <div class=" riskdesc" style="gap: 10px;">
        <div style="display: flex; gap: 10px;">
          <h5 style="font-weight: bold;">{{riskName}}</h5>
          <app-risk-status-card [isOpen]="riskStatus === 'open'"></app-risk-status-card>
        </div>
        <div>
          <p title={{riskDesc}}>{{riskDesc.slice(0,1000)}}...</p>

        </div>

      </div>



    </div>


    <app-overall-rating-card class="col-2 rating-card" [value]="overallRiskRating"  title="Overal Risk Rating" textColor="black"></app-overall-rating-card>

  </div>

</div>
