.risk-card1 {
  width: 100%;
  height: 9vh;
  border-radius: 5px;
  background-color: #F4F1EC;

  display: flex;
  flex-direction: row;
  padding: 2vh;
  // margin-top: -20px;
}
.riskCard1-left
{
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.risk-text1 {
  font-weight: 600;
  color: rgb(41, 34, 26);
  font-size: 2vh;
  margin-top: -8px;
}
.riskCard1-right{
  display: flex;
  flex-direction:column ;
  width: 30%;
  justify-content: center;
  align-items: end;
}

.view-risk-button1 {
  // background-color: var( --foreground-color);
  background-color: rgb(77, 77, 77, 80%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 90%;
  font-weight: 500;
  font-size: 12px;
}
.risk-date1 {
  color: #666;
  font-size: 1.9vh;
  width: 200px;
  margin-top: -13px;
}

.riskCard1-left>div{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;

}

.riskCard1-left>div>h5{
  background-color: var(--foreground-color);

  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  border-radius: 10px;
  width: 45px;
  text-align: center;
  opacity: 0.4;
  height: 25px;
  color: white;
  margin-top: -5px;
  margin-left: 20px;
}

