.d-flex {
  display: flex;
}

.modal-header {
  background-color: var(--secondary-color);
}
.button-group {
  gap: 20px;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 20px;
}

.sticky-buttons {
  position: sticky;
  top: -25px;
  margin-top: 10px;
  z-index: 1000;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 30px;
  overflow-y: none;
}
button.button-custom {
  padding: 10px;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  width: auto;
  min-width: 120px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button {
  padding: 7px 20px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100px;
}

button.btn-success {
  background-color: #4d4d4d;
  color: #ffffff;
}

button.btn-success:hover {
  background-color: #d0c6b6;
  color: rgb(43, 28, 6);
  transform: scale(1.05);
}

button.btn-danger {
  background-color: #faeaea;
  color: rgb(17, 16, 16);
}

button.btn-danger:hover {
  background-color: #b6b5bd;
  transform: scale(1.05);
}

.table-container {
  padding-top: 10px;
}
.form-select {
  max-height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-btn-close {
  position: relative;
  right: 7px;
  width: 0.75rem;
  height: 0.85rem;
}

.custom-btn-close::after,
.custom-btn-close::before {
  width: 0.75rem;
  height: 0.1rem;
}

.button-container {
  // display: flex;
  margin-bottom: 20px;
  // justify-content: end;
  gap: 20px;
  margin-right: 5px;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: sticky;
  top: 0;
  width: 50%;
  float: right;
  z-index: 11;
}

.tab
{
  height: 3%;
}
