<div class="modal-overlay">
  <div  class="modal-content">
  <!-- <div class="modal-content-container"> -->

        <h4 [ngStyle]="{'color': isSuccessfull ? 'green' : 'red'}">
          {{ isSuccessfull ? 'Success' : 'Error' }}
        </h4>
        <p>{{HeaderMessage}}</p>
        <p>{{ message }}</p>
        <!-- <button class="close-btn" (click)="close()">OK</button> -->
        <app-style-button (clicked)="close()" label="OK" type="button"></app-style-button>


  <!-- </div> -->
</div>

</div>


