.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding-top: 30px;
}

/* Scrollable only at 100% and 80% screen size */
@media (min-width: 80%) {
  .modal-content {
    max-height: 80%;
    overflow-y: auto;
  }
}

/* No scroll at 75% and below */
@media (max-width: 75%) {
  .modal-content {
    max-height: none;
    overflow-y: visible;
  }
}

/* Scrollbar styling for a cleaner look */
.modal-content::-webkit-scrollbar {
  width: 8px;
  border-radius: 12px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--form-color);
  border-radius: 12px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--form-color);
  border-radius: 12px;
}

.modal-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 12px;
}

/* Modal container */
.modal-content-container {
  border: 2px solid var(--form-color);
  padding: 20px;
  border-radius: 8px;
  text-align: end;
}

/* Cancel button */
.btn.cancel {
  color: black;
  background-color: transparent;
  display: inline-block;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
}

th {
  background-color: var(--foreground-color);
  color: white;
}

/* Enable scroll only for screens >= 80% */
@media (min-width: 1024px) {
  .modal-content {
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
  }
}
