.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding-top: 30px;
}

.modal-content-container {
  border: 2px solid var(--form-color);
  padding: 20px;
  border-radius: 8px;
  text-align: end;
}

.btn.cancel {
  color: black;
  background-color: transparent;
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
}

th {
  background-color: var(--foreground-color);
  color: white;
}
