<app-body-container backgroundColor="transparent" [showShadow]="false">
  <!-- <h3 style="padding-bottom: 15px;">You are assigned to review</h3> -->

  <app-reusable-table [tableHeaders]="headerData" [tableData]="isAdmin ? tableBodyAdmin : tableBody"
    [headerDisplayMap]="headerDisplayMap"
    [isLoading]="isLoading"
    [noDataMessage]="'You are not assigned to review any risks'"
    [IsActionRequiered]="true"
    (onclickrow)="OnClickRow($event)" (approveRisk)="approveRisk($event)" (rejectRisk)="rejectRisk($event)"
    height="76%"
    >
  </app-reusable-table>
@if(isLoader){
  <app-form-loader></app-form-loader>
}


</app-body-container>
