<ng-container *ngIf="tableData && tableData.length > 0; else noData">
  <div class="table-container" [ngStyle]="{ height: height }">
    <div class="tablestyle">
      <table class="tabledata">
        <thead>
          <tr class="bord">
            @for(header of tableHeaders; track header){
            <th
              title="{{
                header === 'overallRiskRating'
                  ? 'Current Risk Rating'
                  : headerDisplayMap[header] || header
              }}"
            >
              {{ headerDisplayMap[header] || header }}
            </th>

            } @if(IsActionRequiered && !isAdmin && !IsUser && !IsAssignee){
            <th>Actions</th>
            } @else if(IsUser ){
            <th>Status</th>
            <th>Action</th>
            }
          </tr>
        </thead>

        <tbody>
          @for(row of tableData ; track row){
          <tr (click)="rowClick(row)">
            @for(key of rowKeys; track key ){
            <td [title]="row[key]">
              <ng-container *ngIf="key === 'overallRiskRating'">
                <div [ngClass]="getRiskRatingStyle(row[key])">
                  {{ row[key] }}
                </div>
              </ng-container>

              <ng-container *ngIf="key === 'plannedActionDate'">
                {{ row[key] | date : "d MMM yyyy" }}
              </ng-container>
              <ng-container *ngIf="key === 'riskStatus'">
                <span [ngClass]="getRiskStatusClass(row[key])">
                  {{ row[key] }}
                </span>
              </ng-container>
              <ng-container *ngIf="key === 'projects'"
                ><ng-container *ngIf="row[key]?.length > 0; else noProjects">
                  <span>{{ row[key]?.join(", ") }}</span>
                </ng-container>
                <ng-template #noProjects>
                  ----
                </ng-template></ng-container>

              @if(key !=='riskStatus'&& key !=='overallRiskRating' && key
              !=='plannedActionDate' && key!=='projects') {
              <ng-container>
                {{ row[key] | slice : 0 : 50 }}
              </ng-container>
              }
              <!-- {{formatDate(row[key]) | slice : 0 : 30
            }}{{ row[key]?.toString.length > 30 ? "..." : "" }} -->
            </td>
            } @if(IsActionRequiered && !isAdmin && !IsUser && !IsAssignee){
            <td>
              <div
                class="icon-display"
                class="icon approve"
                title="Approve"
                (click)="approveButton($event, row)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <circle
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="#976c26"
                    stroke-width="2"
                    fill="none"
                  />
                  <path
                    d="M8 12l3 3 5-5"
                    stroke="#976c26"
                    stroke-width="2"
                    fill="none"
                  />
                </svg>
              </div>

              <!-- Reject Icon -->
              <div
                class="icon reject"
                title="reject"
                (click)="rejectButton($event, row)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <circle
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="#976c26"
                    stroke-width="2"
                    fill="none"
                  />
                  <path
                    d="M8 8l8 8m0-8l-8 8"
                    stroke="#976c26"
                    stroke-width="2"
                    fill="none"
                  />
                </svg>
              </div>
            </td>

            } @else if(IsUser ) {

            <td *ngIf="IsUser">
              <div
                [ngClass]="{
                  'active-status': row.isActive,
                  'inactive-status': !row.isActive
                }"
              >
                {{ row.isActive ? "Active" : "Inactive" }}
              </div>
            </td>

            <!-- Action: Toggle -->
            <td *ngIf="IsUser">
              <div class="toggle-container">
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="row.isActive"
                    (change)="onToggleChange(row)"
                  />
                  <span class="slider"></span>
                </label>
              </div>
            </td>

            }
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
<ng-template #noData>
  <div class="no-data-container">
    <h3 class="no-data-message">{{noDataMessage}}</h3>
  </div>
</ng-template>

<app-confirmation-popup
  [isOpen]="showApproveDialog"
  title="Approve Risk"
  confirmText="Approve"
  [showComment]="true"
  [isReject]="false"
  (confirm)="onApprove($event)"
  (cancel)="showApproveDialog = false"
>
</app-confirmation-popup>

<app-confirmation-popup
  [isOpen]="showRejectDialog"
  title="Reject Risk"
  confirmText="Reject"
  [isReject]="true"
  (confirm)="onReject($event)"
  (cancel)="showRejectDialog = false"
>
</app-confirmation-popup>
