<div class="modal-overlay">
  <div class="modal-content">
    <div class="modal-content-container">
      <button class="btn cancel" (click)="close()">
        <i
          class="fa-regular fa-circle-xmark"
          style="font-size: xx-large"
        ></i>
      </button>


    <!-- Risk Strategies Table -->
    <div class="risk-strategies-table">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Avoid</td>
            <td>
              This strategy aims to eliminate the risk entirely by taking
              actions that prevent the risk from occurring. It involves altering
              project plans or processes to steer clear of the risk's potential
              impact.
            </td>
            <td>
              Changing a project scope to exclude a high-risk feature that could
              lead to technical challenges.
            </td>
          </tr>
          <tr>
            <td>Mitigate</td>
            <td>
              Mitigation involves taking proactive steps to reduce the
              likelihood or impact of a risk. It focuses on minimizing the
              risk's negative effects while still allowing the project or
              function to move forward.
            </td>
            <td>
              Developing a backup system to reduce the impact of potential
              server failures.
            </td>
          </tr>
          <tr>
            <td>Transfer</td>
            <td>
              Transferring the risk involves shifting the responsibility for
              managing the risk to another party. This could be achieved through
              insurance, outsourcing, partnerships, or contracts.
            </td>
            <td>
              Purchasing insurance to cover financial losses due to unforeseen
              events.
            </td>
          </tr>
          <tr>
            <td>Accept</td>
            <td>
              Accepting the risk means acknowledging its existence and choosing
              not to take specific actions to mitigate or avoid it.
            </td>
            <td>
              Deciding not to invest in additional security for a low-value
              system because the cost of mitigation exceeds the potential impact
              of the risk.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

