
<div class="form-detail">
  <label for="riskName">
    {{ label }} <span class="required">{{ required }}</span>
    <span class="info-icon" (click)="onInfoClick()">ℹ
      <span class="tooltip-text">
        Risk Categories help organizations manage threats by classifying them based on their nature and impact. They include Security Risks (Data Breach,Ransomware/Malware), Privacy Risks (PIMS Non-Compliance,
        Unauthorized Data Sharing), and QMS Risks (Process Non-Conformance).<span class="required">Click to view the table</span>
      </span>
    </span>
  </label>
  <input type="text" id="riskName" placeholder="{{ placeholder }}" (ngModelChange)="onSelectionChanges($event)" [(ngModel)]="value">
</div>
