
<div class="form-detail">
  <label for="riskName">
    {{ label }} <span class="required">{{ required }}</span>
    <span class="info-icon" (click)="onInfoClick()">ℹ
      <span class="tooltip-text">
        A Risk Category is a classification of risks based on their nature and impact on an organization.
         It helps in systematically identifying and managing threats, ensuring compliance, security,
        and operational integrity. Security risks involve threats like data breaches and phishing,
        which can compromise sensitive information. Privacy risks focus on issues like unauthorized data
        sharing and non-compliance with data protection laws, potentially leading to legal consequences.
        QMS risks arise from failures in quality management, such as non-conformance to standards or
        ineffective corrective actions, which can impact product quality and business operations. for more reference click
      </span>
    </span>
  </label>
  <input type="text" id="riskName" placeholder="{{ placeholder }}" (ngModelChange)="onSelectionChanges($event)" [(ngModel)]="value">
</div>
