<div class="body">
    <!-- <div class="thank-you-container">
        <div class="thank-you-card">
            <h1>Thank You!</h1>
            <p>We appreciate your response. Your response will us be updated and will do the nexessary actions</p>
            <a href="/" class="home-button">Go Back to Home</a>
        </div>
    </div> -->
    <div class="response-container">
        <div class="response-card">
            <div class="response-icon">
                <!-- Display a checkmark for approval or cross for rejection -->
                <span id="responseIcon">✔️</span>
            </div>
            <h1 id="responseTitle">Risk Approved</h1>
            <p id="responseMessage">Your response for the Risk has been <span id="responseStatus">recorded, </span>
            Thank you for taking prompt action to review and approve this risk.</p>
            <!-- <a href="/" class="home-button">Back to Dashboard</a> -->
        </div>
    </div>
</div>