
.d-flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-content {
  padding: 20px;
  margin-top: 1%;
  // overflow-y: scroll;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
}

.main-content {
  padding: 5px;
  overflow-y: auto;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  // gap: 5.5vh;
}
app-crumbs{

  position: relative;

}
router-outlet{

  top: 0;
  left: 0;
  margin-top: 3%;
}
.main-content::-webkit-scrollbar {
  display: none;
}

