<div class="d-flex">

  <app-changepassword style="position: absolute;" (closeModal)="hideChangePassword()" (close)="isShowPopUp=false" [isVisible]=isShowPopUp  ></app-changepassword>

    <app-sidebar (changePasswordRequested)="showChangePassword()"></app-sidebar>

    <div class="main-content">
        <app-navbar [data]="navbarData">
            <!-- <app-crumbs></app-crumbs> -->
        </app-navbar>
        <app-crumbs></app-crumbs>
        <!-- <app-breadcrumb></app-breadcrumb> -->

        <router-outlet></router-outlet>
    </div>
</div>
