<div class="table-container">
    <table class="tableBody">
        <thead>
            <tr>
                @for(head of tableHead; track head){
                    <th>{{head}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for(row of tableBody; track row){
                <tr>
                    @for(header of tableHead; track header){
                        <td [ngStyle]="header === 'Risk Rating Category' || header === 'Risk Rating' ? getCellStyle(row[header]) : {}">{{ row[header] }}</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
