<div class="table-container">
    <table class="tableBody">
        <thead>
            <tr>
               @for(header of displayHeaders; track header; let i = $index){
                    <th>{{header}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for(row of tableBody; track row){
               <tr>
                    @for(header of tableHead; track header){
                        <td [ngStyle]="getCombinedCellStyle(row[header])"
                            [class]="getAlignmentClass()">
                            {{ row[header] }}
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
