.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  // text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding-top: 30px;
}
.modal-content-container{
  border:2px solid var(--form-color);
  padding: 20px;
  border-radius: 8px;
  text-align: end;
}




// .dialog-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.5);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1000;
// }

// .dialog-box {
//   background: white;
//   padding: 20px;
//   border-radius: 8px;
//   // text-align: center;
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
//   width: 50%;
//   padding-top: 30px;
// }

// .close-btn {
//   margin-top: 10px;
//   padding: 8px 15px;
//   border: none;
//   background-color: var(--bg-color);
//   color: white;
//   font-size: 16px;
//   cursor: pointer;
//   border-radius: 5px;
//   display: inline-block;

// }
.btn.cancel{
  color: black;
  background-color: transparent;
  display: inline-block;
}
