// .risk-logo{
//     display: flex;
//     justify-content: center;
//     margin-bottom: 20px;
//     img{
//         width: 100px;
//         height: 70px;
//     }
// }
.methodology{
    h3{

        text-align: center;
    }
    p{
      text-align: center;
      margin-bottom: 5px;
    }
}
.definitions{
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    h5{
        // padding-top: 10px;
        padding-left: 10px;
        font-weight: 800;
        padding-bottom: 10px;
    }
}



.tab-container {
    display: flex;
    flex-direction: column;
  }
  
  .tabs {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .tabs button.active {
    background-color: #eebf73;
    color: rgb(0, 0, 0);
  }
  
  .tabs button:hover {
    background-color: #000000;
    color: white;
  }
  
  .tab-content {
    // border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #faf9f8;
    border-radius: 10px;
  }
  
  .content-section h3 {
    margin-bottom: 10px;
  }
  
  .content-section p {
    margin-bottom: 20px;
  }
  