
<app-body-container backgroundColor="transparent" [showShadow]="false">

  <app-reusable-table [IsActionRequiered]="true" [IsUser]="true" [tableHeaders]="headerData" [headerDisplayMap]="headerDisplayMap" [tableData]="tableBody"
     height="80%" [IsAssignee]="true" [IsUser]="false"
    [isLoading]="isLoading" [IsDraft]="true" (draftDeleteButton)="onDraftDeleted($event)"  (draftEditButton)="onDraftEdited($event)"   [noDataMessage]="'You are not resposible for solving any risks'" height="76%">
  </app-reusable-table>



</app-body-container>
