
  <div class="footer">
@if(totalPages > 1){
<div class="pagination fixed-pagination pagination-controls pagination ">

  <button
    class="page-btn"
    [class.disabled]="currentPage === 1"
    (click)="changePage(currentPage - 1)">
    &laquo;
  </button>


  @for(page of visiblePages;track page){
  <button  class="page-btn"
  [class.active]="page === currentPage"
  (click)="changePage(page)">

    {{ page }}

  </button>
  }

  <button
    class="page-btn"
    [class.disabled]="currentPage === totalPages"
    (click)="changePage(currentPage + 1)">
    &raquo;
  </button>
</div>
}
</div>
