.footer {
  padding: 10px;
  background-color: #d0c6b683;
  border-radius: 4px;
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;

  .pagination button {
    background: #edf2f7;
    background-color: #d0c6b6;
    border: 1px solid #e2e8f0;
    padding: 6px 12px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;

    &:hover, &.active {
      background-color: #4D4D4D;
      color: #fff;
    }
  }
}
