


.footer {
  padding: 10px 20px;
  background-color: #d0c6b683;
  border-radius: 4px;
  // box-shadow: 0px 1px 3px #979797;
  display: flex;
  width: 100%;
  justify-content: center;

  .pagination button {
    // background: #edf2f7;
    background: transparent;
    background-color: #d0c6b6c0;
    border: 1px solid #e2e8f0;
    padding: 6px 12px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;

    &:hover, &.active {
      background-color: #4D4D4D;
      color: #fff;
      // border-color: #5a67d8;
    }
  }
}
