<div class="ismsForm">
  <form [formGroup]="ismsForm" (ngSubmit)="onSubmit()">
    <div class="form-details-sub-container">
      <h2>Risk Details</h2>
      @if(isAdmin !== 'Admin'){
        <div class="riskIdDiv">
          <label for="id" class="riskIdDivLabel">Risk ID <span class="info-icon">ℹ<span class="tooltip-text-table"><table class="tooltip-table">
          <thead>
            <tr>
              <th>Risk Type</th>
              <th>Format Example</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Enabling Unit</td>
              <td>RSK-ACE-001,<br>RSK-SFM-001</td>
              <td>ACE = Department Code,<br>001 = Risk Number</td>
            </tr>
            <tr>
              <td>Projects</td>
              <td>RSK-ATC-DAS-990-001</td>
              <td>ATC-DAS-990 = Project Code,<br>001 = Risk Number</td>
            </tr>
          </tbody>
        </table></span></span></label>
          <div class="riskIdInput">{{ riskDisplayId }}</div>
        </div>
      }

     <div class="form-row">
      @if(isAdmin === 'Admin'){
        @if(isDraftidPresent){
        <app-form-dropdown
          label="Department Name"
          required=" *"
          [dropdownData]="dropdownDepartment"
          dropdownDisplay="departmentName"
          dropdownValue="id"
          selectValue="Select department"
          (change)="onDropdownChangeDepartment($event)"
          [openDropdownId]="openDropdownId"
          (openDropdown)="handleDropdownOpen($event)"
        ></app-form-dropdown>


        <div class="riskIdDiv">
          <label for="id" class="riskIdDivLabel">Risk ID <span class="info-icon">ℹ<span class="tooltip-text-table"><table class="tooltip-table">
          <thead>
            <tr>
              <th>Risk Type</th>
              <th>Format Example</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Enabling Unit</td>
              <td>RSK-ACE-001,<br>RSK-SFM-001</td>
              <td>ACE = Department Code,<br>001 = Risk Number</td>
            </tr>
            <tr>
              <td>Projects</td>
              <td>RSK-ATC-DAS-990-001</td>
              <td>ATC-DAS-990 = Project Code,<br>001 = Risk Number</td>
            </tr>
          </tbody>
        </table></span></span></label>
          <div class="riskIdInput">{{ riskDisplayId }}</div>
        </div>

        }
      }
     </div>



      <div class="form-row">
        <app-form-input
          label="Risk Category"
          required=" *"
          formControlName="riskName"
          (infoClicked)="toggleModalCategory()"
        ></app-form-input>

        @if(isAdmin!=='Admin'){

        <app-form-dropdown
          label="Project Name"
          dropdownCode="projectCode"
          [dropdownData]="dropdownProject"
          dropdownDisplay="name"
          dropdownValue="id"
          selectValue="Select project"
          (change)="onDropdownChangeProject($event)"
          [openDropdownId]="openDropdownId"
          (openDropdown)="handleDropdownOpen($event)"
          [selectedValue]="preSelectedProject"
          [allowClear]="true"
          clearText="Clear Selection"
        ></app-form-dropdown>
        } @if(isAdmin==='Admin'){
        <app-form-dropdown
          label="Project Name"
          dropdownCode="projectCode"
          [dropdownData]="dropdownDataProjectForAdmin"
          dropdownDisplay="name"
          dropdownValue="id"
          selectValue="Select project"
          (change)="onDropdownChangeProject($event)"
          [openDropdownId]="openDropdownId"
          (openDropdown)="handleDropdownOpen($event)"
          [selectedValue]="preSelectedProject"
          [allowClear]="true"
          clearText="Clear Selection"
        ></app-form-dropdown>
        }
      </div>

      @if(ismsForm.get("riskName")){ @if
      (ismsForm.get("riskName")?.hasError('required')&&
      ismsForm.get("riskName")?.dirty) {
      <div class="text-danger">Risk Category is required</div>
      } }


      <app-form-text-area
        label="Description"
        required="*"
        placeHolder="Enter description of risk"
        message="Provide a detailed description of the risk, including what could cause it"
        formControlName="description"
        backgroundColor=" var(--form-color)"
      ></app-form-text-area>

      @if(ismsForm.get("description")){ @if
      (ismsForm.get("description")?.hasError('maxlength')) {
      <div class="text-danger">maximum length is 1000</div>

      } @else if (ismsForm.get("description")?.hasError('minlength')) {
      <div class="text-danger">minimum length is 15</div>

      } @else if (ismsForm.get("description")?.hasError('required')&&
      ismsForm.get("description")?.dirty) {
      <div class="text-danger">Description of risk is required</div>
      } }

      <app-form-text-area
        label="Impact Of Risk"
        required="*"
        placeHolder="Enter impact of risk"
        message="Impact of a risk refers to the potential consequences or effects that a risk event
      may have on a project, system, or organization if it occurs. It can include financial loss,
      delays, operational disruptions, or damage to reputation."
        formControlName="impact"
        backgroundColor=" var(--form-color)"
      ></app-form-text-area>

      @if(ismsForm.get("impact")){ @if
      (ismsForm.get("impact")?.hasError('maxlength')) {
      <div class="text-danger">maximum length is 1000</div>

      } @else if (ismsForm.get("impact")?.hasError('minlength')) {
      <div class="text-danger">minimum length is 15</div>

      } @else if (ismsForm.get("impact")?.hasError('required')&&
      ismsForm.get("impact")?.dirty) {
      <div class="text-danger">Impact of risk is required</div>
      } }



       <app-form-text-area
        label="ISO Control/Clause Number"
        placeHolder="Enter ISO Control/Clause Number"
        message="ISO Clause Number → Points to a clause in the ISO standard (e.g., ISO 9001, ISO 27001, ISO 45001, etc.) that describes a requirement relevant to the risk.
                 ISO Control Number → Usually refers to a control in standards like ISO/IEC 27001 Annex A, where each control is numbered (e.g., A.5.1.1)."
        formControlName="ISOClause"
        backgroundColor=" var(--form-color)"
      ></app-form-text-area>

    </div>
    <div class="form-details-sub-container">
      <h2>Current Risk Analysis</h2>
      <table class="risk-assessment-table">
        <tr>
          <th></th>
          <th>Likelihood <span class="required">*</span><span class="info-icon" (click)="showTable('likelihood')" (mouseenter)="showTooltipLikelihood = true" (mouseleave)="showTooltipLikelihood = false">i <div *ngIf="showTooltipLikelihood" class="tooltip-text" >Likelihood means how likely or possible it is for a risk to happen. If something is very likely, the risk is high. If it’s unlikely, the risk is low. <span class="required">Click to view table</span></div></span></th>

          <th>Impact <span class="required">*</span><span class="info-icon" (click)="showTable('impact')"  (mouseenter)="showTooltipImpact = true" (mouseleave)="showTooltipImpact = false">i <div *ngIf="showTooltipImpact" class="tooltip-text">Impact means how bad the result will be if the risk happens. A big impact can cause serious problems, while a small impact may only cause minor issues. <span class="required">Click to view table</span> </div></span></th>
          <th><span style="margin-left: 30px"> Risk Factor</span></th>
        </tr>
        <tr>
          <td>
            <h2
              [ngStyle]="{ 'border-bottom': '0px', 'text-transform': 'none', 'font-weight':'bold','font-size':'1rem'}"
            >
              Confidentiality <span class="required">*</span>
            </h2>
          </td>
          <td>
            <app-form-dropdown
              [dropdownData]="dropdownLikelihood"
              dropdownDisplay="assessmentFactor"
              dropdownValue="id"
              selectValue="Select likelihood"
              (change)="
                onDropdownChange($event, 'Likelihood', 'Confidentiality')
              "
              [selectedValue]="preSelectedConfidentialityLikelihood"
              [openDropdownId]="openDropdownId"
              (openDropdown)="handleDropdownOpen($event)"
            ></app-form-dropdown>
          </td>
          <td>
            <app-form-dropdown
              [dropdownData]="dropdownImpact"
              dropdownDisplay="assessmentFactor"
              dropdownValue="id"
              selectValue="Select impact"
              (change)="onDropdownChange($event, 'Impact', 'Confidentiality')"
              [selectedValue]="preSelectedConfidentialityImpact"
              [openDropdownId]="openDropdownId"
              (openDropdown)="handleDropdownOpen($event)"
            ></app-form-dropdown>
          </td>
          <td>
            <h2
              [ngStyle]="{
                'border-bottom': '0px',
                'text-transform': 'none',
                'margin-left': '5vw',
                color: changeColorRiskFactor('Confidentiality')
              }"
            >
              {{ confidentialityRiskFactor }}
            </h2>
          </td>
        </tr>

        <tr>
          <td>
            <h2
              [ngStyle]="{ 'border-bottom': '0px', 'text-transform': 'none' ,'font-weight':'bold','font-size':'1rem' }"
            >
              Integrity <span class="required">*</span>
            </h2>
          </td>
          <td>
            <app-form-dropdown
              [dropdownData]="dropdownLikelihood"
              dropdownDisplay="assessmentFactor"
              dropdownValue="id"
              selectValue="Select likelihood"
              (change)="onDropdownChange($event, 'Likelihood', 'Integrity')"
              [selectedValue]="preSelectedIntegrityLikelihood"
              [openDropdownId]="openDropdownId"
              (openDropdown)="handleDropdownOpen($event)"
            ></app-form-dropdown>
          </td>
          <td>
            <app-form-dropdown
              [dropdownData]="dropdownImpact"
              dropdownDisplay="assessmentFactor"
              dropdownValue="id"
              selectValue="Select impact"
              (change)="onDropdownChange($event, 'Impact', 'Integrity')"
              [selectedValue]="preSelectedIntegrityImpact"
              [openDropdownId]="openDropdownId"
              (openDropdown)="handleDropdownOpen($event)"
            ></app-form-dropdown>
          </td>
          <td>
            <h2
              [ngStyle]="{
                'border-bottom': '0px',
                'text-transform': 'none',
                'margin-left': '5vw',
                color: changeColorRiskFactor('Integrity')
              }"
            >
              {{ integrityRiskFactor }}
            </h2>
          </td>
        </tr>

        <tr>
          <td>
            <h2
              [ngStyle]="{ 'border-bottom': '0px', 'text-transform': 'none' ,'font-weight':'bold','font-size':'1rem'}"
            >
              Availability <span class="required">*</span>
            </h2>
          </td>
          <td>
            <app-form-dropdown
              [dropdownData]="dropdownLikelihood"
              dropdownDisplay="assessmentFactor"
              dropdownValue="id"
              selectValue="Select likelihood"
              (change)="onDropdownChange($event, 'Likelihood', 'Availability')"
              [selectedValue]="preSelectedAvailabilityLikelihood"
              [openDropdownId]="openDropdownId"
              (openDropdown)="handleDropdownOpen($event)"
            ></app-form-dropdown>
          </td>
          <td>
            <app-form-dropdown
              [dropdownData]="dropdownImpact"
              dropdownDisplay="assessmentFactor"
              dropdownValue="id"
              selectValue="Select impact"
              (change)="onDropdownChange($event, 'Impact', 'Availability')"
              [selectedValue]="preSelectedAvailabilityImpact"
              [openDropdownId]="openDropdownId"
              (openDropdown)="handleDropdownOpen($event)"
            ></app-form-dropdown>
          </td>
          <td>
            <h2
              [ngStyle]="{
                'border-bottom': '0px',
                'text-transform': 'none',
                'margin-left': '5vw',
                color: changeColorRiskFactor('Availability')
              }"
            >
              {{ availabilityRiskFactor }}
            </h2>
          </td>
        </tr>

        <tr>
          <td>
            <h2
              [ngStyle]="{ 'border-bottom': '0px', 'text-transform': 'none','font-weight':'bold','font-size':'1rem' }"
            >
              Privacy <span class="required">*</span>
            </h2>
          </td>
          <td>
            <app-form-dropdown
              [dropdownData]="dropdownLikelihood"
              dropdownDisplay="assessmentFactor"
              dropdownValue="id"
              selectValue="Select likelihood"
              (change)="onDropdownChange($event, 'Likelihood', 'Privacy')"
              [selectedValue]="preSelectedPrivacyLikelihood"
              [openDropdownId]="openDropdownId"
              (openDropdown)="handleDropdownOpen($event)"
            ></app-form-dropdown>
          </td>
          <td>
            <app-form-dropdown
              [dropdownData]="dropdownImpact"
              dropdownDisplay="assessmentFactor"
              dropdownValue="id"
              selectValue="Select impact"
              (change)="onDropdownChange($event, 'Impact', 'Privacy')"
              [selectedValue]="preSelectedPrivacyImpact"
              [openDropdownId]="openDropdownId"
              (openDropdown)="handleDropdownOpen($event)"
            ></app-form-dropdown>
          </td>
          <td>
            <h2
              [ngStyle]="{
                'border-bottom': '0px',
                'text-transform': 'none',
                'margin-left': '5vw',
                color: changeColorRiskFactor('Privacy')
              }"
            >
              {{ privacyRiskFactor }}
            </h2>
          </td>
        </tr>
      </table>
      <div class="form-row" [ngStyle]="{ 'margin-top': '30px' }">
        <h2 [ngStyle]="{ 'border-bottom': '0px', 'text-transform': 'none' }">
          Overall Risk Rating :
          <span
            style="margin-left: 10px"
            [ngStyle]="{ color: changeColorOverallRiskRating() }"
            >{{ overallRiskRating }}</span
          >
        </h2>
      </div>
      <p
        [ngStyle]="{
          'margin-top': '20px',
          'font-style': 'italic',
          color: 'grey'
        }"
      >
        Risk Factor = Likelihood * Impact
      </p>
      <p
        [ngStyle]="{
          'margin-top': '20px',
          'font-style': 'italic',
          color: 'grey'
        }"
      >
        Overall risk rating = Risk Factor(Confidentiality)+Risk
        Factor(Integrity)+Risk Factor(Availability)+Risk Factor(Privacy)
      </p>
      <div
        [ngStyle]="{
          'margin-top': '20px',
          'font-style': 'italic',
          color: 'grey'
        }"
      >
        <p>
          For more reference
          <span (click)="isHeatMapReference()"
            ><a href="javascript:void(0);">click </a></span
          >here
        </p>
      </div>
    </div>
    <div class="form-details-sub-container">
      <h2>Risk Management</h2>
      <app-form-text-area
        label="Risk Treatment"
        required="*"
        placeHolder="Enter Risk Treatment plan"
        message="Risk Treatment refers to actions taken to reduce the likelihood or impact of a risk.
      Ensure preventive measures, such as implementing safety protocols or backup systems, to minimize
      the risk."
        formControlName="mitigation"
        backgroundColor=" var(--form-color)"
      ></app-form-text-area>

      @if(ismsForm.get("mitigation")){ @if
      (ismsForm.get("mitigation")?.hasError('maxlength')) {
      <div class="text-danger">maximum length is 1000</div>

      } @else if (ismsForm.get("mitigation")?.hasError('minlength')) {
      <div class="text-danger">minimum length is 15</div>

      } @else if (ismsForm.get("mitigation")?.hasError('required')&&
      ismsForm.get("mitigation")?.dirty) {
      <div class="text-danger">Mitigation of risk is required</div>
      } }

      <app-form-text-area
        label="Risk Contingency"
        placeHolder="Enter contingency plan"
        message="Contingency planning involves preparing for unforeseen events by having backup
      plans in place. These plans help ensure that your project can continue with minimal disruption
      if unexpected risks occur."
        formControlName="contingency"
        backgroundColor=" var(--form-color)"
      ></app-form-text-area>


      <app-form-risk-response label="Risk Response" required="*" [preselectedName]="preselectedResponseName" (infoClicked)="handleInfoClickResponse($event)" [riskResponses]="riskResponses" (selectedValueChange)="onRadioSelectionChange($event)" ></app-form-risk-response>

    </div>
    <div class="form-details-sub-container">
      <h2>Action Plan</h2>
      @if(isAdmin === 'Admin'){
        @if(!isnewAssigneenameDisplay){
      <app-form-dropdown
        label="Risk Owner"
        required="*"
        [dropdownData]="dropdownAssigneeForAdmin"
        dropdownDisplay="fullName"
        dropdownValue="id"
        selectValue="Select risk owner"
        (change)="onDropdownChangeResponsiblePerson($event)"
        [openDropdownId]="openDropdownId"
        [selectedValue]="preSelectedResponsiblePerson"
        (openDropdown)="handleDropdownOpen($event)"
        message="You can select an existing risk owner from the dropdown
        or enter a new one. If you enter a new name, it will take priority over the dropdown selection."
        backgroundColor=" var(--form-color)"
        [showInfoButton]="true"
      ></app-form-dropdown>
      }
     } @if(isAdmin !== 'Admin'){
        @if(!isnewAssigneenameDisplay){
      <app-form-dropdown
        label="Risk Owner"
        required="*"
        [dropdownData]="dropdownAssignee"
        dropdownDisplay="fullName"
        dropdownValue="id"
        selectValue="Select risk owner"
        (change)="onDropdownChangeResponsiblePerson($event)"
        [openDropdownId]="openDropdownId"
        [selectedValue]="preSelectedResponsiblePerson"
        (openDropdown)="handleDropdownOpen($event)"
        message="You can select an existing risk owner from the dropdown
        or enter a new one. If you enter a new name, it will take priority over the dropdown selection."
        backgroundColor=" var(--form-color)"
        [showInfoButton]="true"
      ></app-form-dropdown>
      }
     }@if(isnewAssigneenameDisplay){
      <h6
        style="
          margin-bottom: 5px;
          font-weight: 600;
          color: var(--foreground-color);
        "
      >
        Responsibility of action <span style="color: red">*</span>
      </h6>
      <div
        style="
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 10px;
          background-color: #f9f9f9;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          width: 100%;
        "
      >
        <span>{{ newAssigneename }}</span>
      </div>
      }



      <div
        [ngStyle]="{
          'margin-top': '20px',
          'font-style': 'italic',
          color: 'grey'
        }"
      >
        <p>
          If risk owner not in the list
          <span (click)="isAssigneeNotInList()"
            ><a href="javascript:void(0);">click </a></span
          >here
        </p>
      </div>

      <app-form-date-field
        label="Planned Action Date"
        required="*"
        formControlName="plannedActionDate"
      ></app-form-date-field>
      @if(ismsForm.get("plannedActionDate")){ @if
      (ismsForm.get("plannedActionDate")?.hasError('required')&&
      ismsForm.get("plannedActionDate")?.dirty) {
      <div class="text-danger">planned action date is required</div>
      } }
    </div>
    <div class="form-details-sub-container">
      <h2>Reviewer</h2>
      @if(!isnewReviewernameDisplay){
      <app-form-dropdown
        label="Reviewer"
        required="*"
        [dropdownData]="dropdownReviewer"
        dropdownDisplay="fullName"
        dropdownValue="fullName"
        selectValue="Select reviewer"
        (change)="onDropdownChangeReviewer($event)"
        [openDropdownId]="openDropdownId"
        [selectedValue]="preSelectedReviewer"
        (openDropdown)="handleDropdownOpen($event)"
        message="You can select an existing reviewer from the dropdown
      or enter a new one. If you enter a new name, it will take priority over the dropdown selection."
        backgroundColor=" var(--form-color)"
        [showInfoButton]="true"
      ></app-form-dropdown>
      }

      @if(isnewReviewernameDisplay){
        <h6
          style="
            margin-bottom: 5px;
            font-weight: 600;
            color: var(--foreground-color);
          "
        >
          Reviewer <span style="color: red">*</span>
        </h6>
        <div
          style="
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
          "
        >
          <span>{{ newReviewername }}</span>
        </div>
        }



      <div
        [ngStyle]="{
          'margin-top': '20px',
          'font-style': 'italic',
          color: 'grey'
        }"
      >
        <p>
          If reviewer not in the list
          <span (click)="isReviewerNotInList()"
            ><a href="javascript:void(0);">click </a></span
          >here
        </p>
      </div>
    </div>
    <div class="form-details-sub-container">
      <div class="button-group">
        <app-style-button
          (clicked)="saveConfirmation()"
          label="Submit"
          type="button"
          [disabled]="isDisabled()"
        ></app-style-button>
        <app-style-button
          (clicked)="saveAsDraft()"
          label="Save As Draft"
          type="button"
        ></app-style-button>
        <app-style-button
          (clicked)="cancelRisk()"
          label="Cancel"
          type="button"
        ></app-style-button>
      </div>
    </div>
  </form>
  @if(HeatMapRefernce){
  <h5>For Reference</h5>
  <app-form-reference-heatmap-popup
    (closeHeatMap)="closeHeatMap()"
  ></app-form-reference-heatmap-popup>
  } @if(isLoading) {
  <app-form-loader></app-form-loader>> }
  @if(assigneeNotInList){

    @if(isAdmin=="Admin"){
      <app-form-data-not-in-list
        placeholder="Enter risk owner name"
        [isAssignee]="true"
        [assigneeDepartment]="departmentIdForAdminToAddToString"
        textLabel="Risk owner"
        [dropdownDepartment]="dropdownDepartment"
        (cancelForm)="receiveCancel($event)"
        (sendData)="saveAssignee($event)"
        [openDropdownId]="openDropdownId"
        (openDropdown)="handleDropdownOpen($event)"
      ></app-form-data-not-in-list>
      }

      @if(isAdmin!=="Admin"){
        <app-form-data-not-in-list
        placeholder="Enter risk owner name"
        [isAssignee]="true"
        [assigneeDepartment]="departmentId"
        textLabel="Risk owner"
        [dropdownDepartment]="dropdownDepartment"
        (cancelForm)="receiveCancel($event)"
        (sendData)="saveAssignee($event)"
        [openDropdownId]="openDropdownId"
        (openDropdown)="handleDropdownOpen($event)"
      ></app-form-data-not-in-list>
      }

  }

  @if(reviewerNotInList){
  <app-form-data-not-in-list
    placeholder="Enter reviewer name"
    [isAssignee]="false"
    textLabel="Reviewer name"
    [dropdownDepartment]="dropdownDepartment"
    (cancelForm)="receiveCancel($event)"
    (sendData)="saveReviewer($event)"
    [openDropdownId]="openDropdownId"
    (openDropdown)="handleDropdownOpen($event)"
  ></app-form-data-not-in-list>
  } @if(isSuccessReviewer){
  <app-form-successfull
    message="The new reviewer has been added successfully."
    [isSuccessfull]="true"
    (closeDialog)="closeReviewer()"
  >
  </app-form-successfull>
  } @if(isErrorReviewer){
  <app-form-successfull
  message="Reasons May be:
  <br>
  A reviewer with this email already exists.
  <br>
  Please ensure all required fields are completed correctly and check your internet connection.
  <br>
  If the issue persists, please try again later or contact support for assistance."
    [isSuccessfull]="false"
    (closeDialog)="closeReviewer()"
  >
  </app-form-successfull>
  } @if(isSuccessAssignee){
  <app-form-successfull
    message="The new risk owner has been added successfully."
    [isSuccessfull]="true"
    (closeDialog)="closeAssignee()"
  >
  </app-form-successfull>
  } @if(isErrorAssignee){
  <app-form-successfull
  message="Reasons May be:
  <br>
  A risk owner with this email already exists or may have been deactivated.
  <br>
  Please make sure all required fields are completed correctly and check your internet connection.
  <br>
  If the problem continues, please try again later or contact support for assistance."
    [isSuccessfull]="false"
    (closeDialog)="closeAssignee()"
  >
  </app-form-successfull>
  } @if(isSave){
  <app-form-conform-popup
    message="Do you want to save the entered risk details? <br> You can check and edit them later if needed."
    (closeDialog)="saveRisk()"
    (notCloseDialog)="saveConfirmation()"
  ></app-form-conform-popup>
  } @if(isCancel){
  <app-form-conform-popup
    message="Are you sure you want to cancel? <br> Any unsaved changes will be lost."
    (closeDialog)="closeRisk()"
    (notCloseDialog)="cancelRisk()"
  ></app-form-conform-popup>
  } @if(isdraft){
  <app-form-conform-popup
    message="Do you want to save the entered risk details as a draft? <br> You can continue editing them on Draft page."
    (closeDialog)="closeDraft()"
    (notCloseDialog)="saveAsDraft()"
  ></app-form-conform-popup>

  } @if(isNothingInDraft){
  <app-form-successfull
    message="Draft is empty. Please add content before saving."
    [isSuccessfull]="false"
    (closeDialog)="closeDraftWhenNoDraft()"
  >
  </app-form-successfull>
  } @if(isdraftConform){
  <app-form-successfull
    message="Draft saved successfully.<br>  You can access your progress on the Drafts page."
    [isSuccessfull]="true"
    (closeDialog)="closeDialogSuccess()"
  >
  </app-form-successfull>
  } @if(isValid){
  <app-form-successfull
    message="Please check the form fields and <br> ensure all mandatory fields are satisfied. "
    [isSuccessfull]="false"
    (closeDialog)="closepopupIsValidCheck()"
  >
  </app-form-successfull>
  }
  @if(showModalCategory){
    <app-form-category-table (closeModalEvent)="closeModalCategory()"></app-form-category-table>
  }

  @if(showModal){
    <app-form-likelihood-impact-tooltip [showModal]="showModal" [tableType]="tableType" (closeRiskModal)="hideModal()"></app-form-likelihood-impact-tooltip>
  }

  @if(isdraftErrorDisplay){
    <app-form-successfull
      [message]= draftErrorDisplay
      [isSuccessfull]="false"
      (closeDialog)="closeDraftWhenErrorOccur()"
    >
    </app-form-successfull>
    }

    @if(showResponseModel){
    <app-form-response-table (closeResponseTable)="hideModalResponse()"></app-form-response-table>
  }
</div>
