<div class="container">
  <div class="form">
    <form [formGroup]="ismsForm">
      <div class="field">
        <div class="name">
          <label >Risk Name <span class="required">*</span>  :</label>
          <input type="text">
        </div>
        <div class="description">
          <label >Description <span class="required">*</span> :</label>
          <textarea></textarea>
        </div>
        <div class="impact">
          <label >Impact Of Risk <span class="required">*</span> :</label>
          <textarea></textarea>
        </div>
        <div class="project">

            <label >Project ID :</label>
          <input type="text">

        </div>

      </div>



    </form>

  </div>

</div>
