// input {
//   padding: 8px 12px;
//   border: 1px solid #ccc;
//   border-radius: 6px;
//   outline: none;
//   font-size: 14px;
//   background-color: #F7F6FE;
// }

// input {
//   width: 200px;
//   transition: border-color 0.2s ease-in-out;
// }

// input:focus {
//   border-color: #007bff;
// }


.search1 {
  position: relative;

  input {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #4D4D4D;
    font-size: 14px;
    color: #000000;
    background: #D0C6B6;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      // border-color: #5a67d8;
      box-shadow: 0 0 5px rgba(90, 103, 216, 0.5);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #a0aec0;
    font-size: 16px;
    pointer-events: none;
  }
}
