

.search1 {
  position: relative;
  width: 100%;

  input {
    padding: 6px 12px;
    height: 5.5vh;
    border: none;
    border-radius: 4px;
    border: solid 1px #4d4d4d;
    font-size: 14px;
    color: #000000;
    background: transparent;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      // border-color: #5a67d8;
      box-shadow: 0 0 5px rgba(90, 103, 216, 0.5);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #a0aec0;
    font-size: 16px;
    pointer-events: none;
  }
}
