input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  background-color: #F7F6FE;
}

input {
  width: 200px;
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  border-color: #007bff;
}
