.breadcrumb-container {
    padding: 10px ;
    margin-top: 10px;
    background-color: transparent;
    // width: 230px;
    min-width: 100px;
    max-width: 300px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
    list-style: none;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    color: #6c757d;
    font-size: 14px;
  }

  .breadcrumb-item a {
    color: #d0c6b6;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  .breadcrumb-item a:hover {
    cursor: pointer;
    color: #f3c67f;
    text-decoration: underline;
  }

  .separator {
    margin: 0 8px;
    color: #6c757d;
  }

  .active {
    color: #495057;
    font-weight: 500;
  }