
<app-body-container backgroundColor="transparent" [showShadow]=false >
  <div class="btnn">
    <app-style-button label="Reset Filters" (click)="reset()"></app-style-button>
    <app-datepicker (dateRangeSelected)="onDateRangeSelected($event)"></app-datepicker>
  </div>

  <div class="tab"></div>

  <app-table
    [isLoading]="isLoading"
    (onclickrow)="OnClickRow($event)"
    [paginated]="items"
    [reset]="isreset"
    [filteredDateRange]="selectedDateRange">
  </app-table>

</app-body-container>

