
.tab{
  margin-top: 5px;
}

.btnn{
  display: flex;
  flex-direction: row;
  justify-content: right;
  // background-color: #cfafaf;
  gap: 20px;
  position: sticky;
  top: 0;
  // margin-right: 55px;
  width: 30%;
  float: right;
  z-index: 1000;
}


/* Style for individual buttons */
.btnn button {
  padding: 10px 20px;
  background-color: #4D4D4D ;
  color: #ffffff ;
  box-shadow: 0px 0px 4px rgba(185, 154, 62, 0.5);
  border: none;
  border-radius: 5px;  /* Rounded corners */
  font-size: small;  /* Button text size */
  cursor: pointer;  /* Pointer cursor on hover */
  transition: background-color 0.3s, border-color 0.3s;  /* Smooth transition */
}

/* Hover effect */
.btnn button:hover {
  background-color: #d0c6b6;
  color: rgb(43, 28, 6);
  // border-color: #0056b3;  /* Darker border on hover */
}

/* Focus effect */
.btnn button:focus {
  outline: none;  /* Remove default focus outline */
  box-shadow: 0 0 5px rgba(255, 166, 0, 0.5);  /* Add custom focus outline */
}

app-table{
  cursor: pointer;
  // overflow-x: auto;

}
