
.tab{
  margin-top: 5px;
}

.btnn{
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
  position: sticky;
  top: 0;
  width: 30%;
  float: right;
  z-index: 1000;
}


/* Style for individual buttons */
.btnn button {
  padding: 10px 20px;
  background-color: #4D4D4D ;
  color: #ffffff ;
  box-shadow: 0px 0px 4px rgba(185, 154, 62, 0.5);
  border: none;
  border-radius: 5px;
  font-size: small;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover effect */
.btnn button:hover {
  background-color: #d0c6b6;
  color: rgb(43, 28, 6);
}

/* Focus effect */
.btnn button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 166, 0, 0.5);
}


