
<app-body-container class="hide-scrollbar" backgroundColor="transparent"  [showShadow]=false >
  <main>
    <app-risk-basic-details-card data-aos="zoom-in" [isEditable]="true" riskDesc={{data.description}}  riskName={{data.riskName}} riskNumber={{data.riskId}} riskType={{data.riskType}}  [overallRiskRating]="data.overallRiskRating" riskStatus="{{data.riskStatus}}" [allData]="data" ></app-risk-basic-details-card>
    <app-risk-details-section2 data-aos="zoom-in" riskMitigation={{data.mitigation}} riskContengency={{data.contingency}} responsibilityOfAction={{data.responsibleUser?.fullName}} impact={{data.impact}} plannedActionDate={{data.plannedActionDate}} CreatedBy={{data.createdBy}} CreatedAt={{data.createdAt}} UpdatedBy={{data.updatedBy}} UpdatedAt={{data.updatedAt}}  RiskStatus="{{data.riskStatus}}"></app-risk-details-section2>
    <app-risk-details-section3-mitigation  riskId={{data.id}} [riskAssessments]="data.riskAssessments" status={{data.riskStatus}}  type={{data.riskType}} residualRisk={{data.residualRisk}}  residualValue={{data.residualValue}} percentageReducation={{data.percentageReduction}} ></app-risk-details-section3-mitigation>
  </main>

</app-body-container>
<!-- <router-outlet></router-outlet> -->
