
@if(isLoading)
{
  <div class="shimmer-container">

      <div  class="shimmer" style="height: 30vh;width: 95%;">

      </div>
      <div  class="shimmer" style="height: 30vh;width: 95%;">

      </div>
      <div  class="shimmer" style="height: 30vh;width: 95%;">

      </div>
  </div>
}
@else {
  <app-body-container class="hide-scrollbar" backgroundColor="transparent"  [showShadow]=false >
    <main>
      <app-risk-basic-details-card data-aos="zoom-in" [isEditable]="true"  [allData]="data" (editClicked)="handleEditClicked($event)" ></app-risk-basic-details-card>
      <app-risk-details-section2 data-aos="zoom-in" [data]="riskDetailsSection2Data"></app-risk-details-section2>
      <app-risk-details-section3-mitigation [data]="riskDetailsSection3MitigationData" ></app-risk-details-section3-mitigation>
    </main>

  </app-body-container>
}

@if(isShowPopupForUpdateStatus)
{
  <app-change-risk-status [RiskStatuses]="RiskStatuses" (closeRiskStatusModal)="hideModal()" (submitForm)="handleSubmitForm($event)" (sendToReview)="handleSendToReview($event)"></app-change-risk-status>
}

 @if(isLoader) {
    <app-form-loader></app-form-loader>>
   }

   @if(isSuccess){
    <app-form-successfull
      message="Risk Status has been updated successfully! <br> You can now check it in the Report page."
      [isSuccessfull]="true"
      (closeDialog)="closeDialogSuccess()"
    >
    </app-form-successfull>
    } @if(isError){
    <app-form-successfull
      [message]="error"
      [isSuccessfull]="false"
      (closeDialog)="closeDialog()"
    >
    </app-form-successfull>

    }


