<div class="qmsForm">
  <form [formGroup]="updateQmsForm" (ngSubmit)="onSubmit()">
    <div class="form-details-sub-container">
      <h2>ASSESSMENT POST IMPLEMENTATION OF ACTION</h2>
      <div class="form-row">
        <app-form-dropdown label="Likelihood" [dropdownData]="dropdownLikelihood" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select likelihood" (change)="onDropdownChangelikelihood($event)" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"
        message="Likelihood means how likely or possible it is for a risk to happen. If something is very likely, the risk is high. If it’s unlikely, the risk is low."
        required="*"
          (infoClicked)="handleInfoClickLikelihood($event)"
          backgroundColor=" var(--form-color)"
          [showInfoButtonLikeliHoodImpact]="true" ></app-form-dropdown>
        <app-form-dropdown label="Impact" [dropdownData]="dropdownImpact" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select impact" (change)="onDropdownChangeImpact($event)" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"
        (infoClicked)="handleInfoClickImpact($event)"
        required="*"
        message="Impact means how bad the result will be if the risk happens. A big impact can cause serious problems, while a small impact may only cause minor issues."
        backgroundColor=" var(--form-color)"
        [showInfoButtonLikeliHoodImpact]="true"></app-form-dropdown>
      </div>
      <div class="form-row" [ngStyle]="{'gap':'32vw','margin-top':'30px'}">
        <h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none'}">Risk Factor :<span style="margin-left: 10px;">{{riskFactor}}</span> </h2>
        <h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none','margin-left':'-37%'}">Overall Risk Rating :<span style="margin-left: 10px;" [ngStyle]="{'color':changeColorOverallRiskRating()}">{{overallRiskRating}} </span> </h2>
      </div>
      <p [ngStyle]="{'margin-top':'20px','font-style':'italic','color':'grey'}">Risk factor = Likelihood * Impact</p>

      <p [ngStyle]="{'margin-top':'20px','font-style':'italic','color':'grey'}">Overall risk rating = Likelihood * Impact</p>
      <div [ngStyle]="{'margin-top':'20px','font-style':'italic','color':'grey'}">
       <p>For reference <span (click)="isHeatMapReference()"><a href="javascript:void(0);">click </a></span>here</p>
      </div>
    </div>
    <div class="form-details-sub-container" >
      <h2>RISK CLOSURE</h2>
      <app-form-date-field label="Actual Close Date" required="*" formControlName="closeDate" ></app-form-date-field>
      @if(updateQmsForm.get("closeDate")){

        @if (updateQmsForm.get("closeDate")?.hasError('required')&& updateQmsForm.get("closeDate")?.dirty) {
          <div class="text-danger">Actual close date is required</div>
        }

      }
      <app-form-risk-response label="Risk Response" required="*" (infoClicked)="handleInfoClickResponse($event)" [riskResponses]="riskResponses" (selectedValueChange)="onRadioSelectionChange($event)" ></app-form-risk-response>
    </div>
    <div class="form-details-sub-container">
      <h2>Reviewer</h2>
      @if(!isnewReviewernameDisplay){
      <app-form-dropdown label="Reviewer" required="*" [dropdownData]="dropdownReviewer" dropdownDisplay="fullName"
      dropdownValue="fullName" selectValue="Select reviewer" (change)="onDropdownChangeReviewer($event)"
      [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)" message="You can select an existing reviewer from the dropdown
      or enter a new one. If you enter a new name, it will take priority over the dropdown selection."


      backgroundColor=" var(--form-color)"

        [showInfoButton]="true"></app-form-dropdown>
      }
      @if(isnewReviewernameDisplay){
        <h6
          style="
            margin-bottom: 5px;
            font-weight: 600;
            color: var(--foreground-color);
          "
        >
          Reviewer <span style="color: red">*</span>
        </h6>
        <div
          style="
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
          "
        >
          <span>{{ newReviewername }}</span>
        </div>
        }

      <div [ngStyle]="{'margin-top':'20px','font-style':'italic','color':'grey'}">
        <p>If reviewer not in the list <span (click)="isReviewerNotInList()" ><a href="javascript:void(0);">click </a></span>here</p>
      </div>

    </div>
    <div class="form-details-sub-container">
      <h2>Remarks</h2>
      <app-form-text-area label="Remarks" placeHolder="Enter remark"
      message="Remarks on risk after mitigation indicate the effectiveness of applied controls,
      the remaining (residual) risk level, and whether further actions are needed to manage the
      risk within acceptable limits."  formControlName="remarks" ></app-form-text-area>
    </div>
    <div class="form-details-sub-container">
      <div class="button-group">
        <app-style-button (clicked)="saveConfirmation()" label="Submit" type="button"></app-style-button>
        <app-style-button (clicked)="cancelRisk()" label="Cancel" type="button"></app-style-button>
      </div>
    </div>
  </form>
  @if(HeatMapRefernce){
    <h5>For Reference</h5>
    <app-form-reference-heatmap-popup (closeHeatMap)="closeHeatMap()"></app-form-reference-heatmap-popup>
   }
   @if(isLoading) {
    <app-form-loader></app-form-loader>>
  }
  @if(reviewerNotInList){
    <app-form-data-not-in-list placeholder="Enter reviewer name" [isAssignee]="false" textLabel="Reviewer name" [dropdownDepartment]="dropdownDepartment" (cancelForm)="receiveCancel($event)" (sendData)="saveReviewer($event)"  [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-data-not-in-list>
  }
  @if(isSuccessReviewer){
    <app-form-successfull
    message="The new reviewer has been added successfully!"
    [isSuccessfull] ="true"
    (closeDialog)="closeReviewer()" >
    </app-form-successfull>
 }
 @if(isErrorReviewer){
  <app-form-successfull
  message="“Something went wrong!
  <br><br>
  A reviewer with this email already exists.
  <br>
  Please ensure all required fields are completed correctly and check your internet connection.
  <br><br>
  If the issue persists, please try again later or contact support for assistance."
  [isSuccessfull] ="false"
  (closeDialog)="closeReviewer()" >
  </app-form-successfull>
}
@if(isSave){
  <app-form-conform-popup message="Do you want to save the entered risk details?" (closeDialog)="saveRisk()" (notCloseDialog)="saveConfirmation()"></app-form-conform-popup>
}

@if(isCancel){
  <app-form-conform-popup message="Are you sure you want to cancel? <br> Any unsaved changes will be lost."  (closeDialog)="closeRisk()" (notCloseDialog)="cancelRisk()"></app-form-conform-popup>
}
@if(isValid){
  <app-form-successfull
  message="Please check the form fields and <br> ensure all mandatory fields are satisfied "
  [isSuccessfull] ="false"
  (closeDialog)="closepopupIsValidCheck()" >
  </app-form-successfull>
  }

  @if(showModal){
    <app-form-likelihood-impact-tooltip [showModal]="showModal" [tableType]="tableType" (closeRiskModal)="hideModal()"></app-form-likelihood-impact-tooltip>
  }

  @if(showResponseModel){
    <app-form-response-table (closeResponseTable)="hideModalResponse()"></app-form-response-table>
  }





</div>

