<app-body-container class="main" backgroundColor="transparent" padding="5" [showShadow]="false">
<div class="dashboard">
<div class="topbuttons">
  <div class="dropdown" >
<app-department-dropdown *ngIf="authService.getUserRole() === 'Admin'"></app-department-dropdown>  </div>
  <div class="registerrisk">

    <app-style-button (clicked)="OnRegisterRiskButtonCLicked()" label="Register Risk"></app-style-button>
  </div>
</div>

  <div class="graphs">
    <div class="graph1" data-aos="zoom-in">
      <div class="leftside">
        <div class="heading">
          <h4>Open Risks</h4>
        </div>
        <div class="labels">
          <div class="risk-indicator">
            <div class="privacy-risk"></div>
             <span>Privacy Risk</span>
          </div>
                        <div class="risk-indicator">
                         <div class="quality-risk"></div>
                          <span>Quality Risk</span>
                            </div>
                              <div class="risk-indicator">
              <div class="security-risk"></div>
            <span>Security Risk</span>
          </div>
        </div>
      </div>
      <div class="rightside ">
        <div class="circlegraph">

          <div (click)="onBubbleClicked('Security')" style="width:50px;height:50px;position: absolute;display: flex;justify-content: center;align-items: center;margin-top: 40px;margin-left: 55px;">


            <div class="circle circle-1 "></div>
            <div class="glass">{{securityRiskCount}}</div>
          </div>

          <div (click)="onBubbleClicked('Privacy')"   style="width:250px;height:250px;position: absolute;display: flex;justify-content: center;align-items: center;  margin-left: 100px;margin-bottom: -10px;margin-top: 10px;">


            <div class="circle circle-2 "></div>
            <div class="glass">{{privacyRiskCount ? privacyRiskCount : 0}}</div>
          </div>
          <div (click)="onBubbleClicked('Quality')"   style="width:185px;height: 185px;position: absolute;display: flex;justify-content: center;align-items: center;margin-top: 100px;">


            <div class="circle circle-3 "></div>
            <div class="glass">{{qualityRiskCount}}</div>
          </div>





        </div>
      </div>
    </div>
    <div class="graph2" >
      <div class="riskratingcategory">
      <h4>Risk Rating</h4>
      <div class="forchart" >
        <div class="graphchart"  >
        <app-chart [labels]="graph2labels" [chartType]="graph2chartType" [datasets]="graph2datasets"></app-chart>
        </div>
        <!-- <div class="graph2Legend">
          <div>
            <div style="background-color: blue;" ></div>
            <h5>Low</h5>
            <h6>{{Criticality.Low}}</h6>
          </div>
          <div>
            <div  style="background-color: rgb(251, 213, 255);"></div>
            <h5>Moderate</h5>
            <h6>{{Criticality.Moderate}}</h6>
          </div>
          <div>
            <div style="background-color: rgb(206, 206, 255);"></div>
            <h5>Critical</h5>
            <h6>{{Criticality.Cri}}</h6>
          </div>
        </div> -->
      </div>
      </div>
    </div>
  </div>
            <div class="riskdetails">
        <div class="urgentrisks" data-aos="zoom-in">
          <h5>Upcoming Risk Deadlines</h5>
          <div class="maindiv1">

            @for(item of riskApproachingDeadline; track $index )
            {

              <div class="risk-card1">
                <div class="riskCard1-left">
                  <div class="risk-text1">{{item.riskName}}</div>
                  <div class="risk-date1">{{item.plannedActionDate | date: 'd MMM yyyy'}}</div>

                </div>
                <div class="riskCard1-right">

                  <button (click)="OnCardClicked(item.id)" class="view-risk-button1">View Risk</button>
                </div>
              </div>


            }



          </div>


        </div>
      <div class="imprisk" data-aos="zoom-in">
        <h5>Risks With Highest Overall Rating</h5>
        <div class="maindiv">

          @for(item of risksWithHeighesOverallRating; track $index )
          {
            <div class="risk-card">
              <div style="display: flex;flex-direction: column;">
                <div class="top">
                  <div class="risk-text">{{item.riskName}}</div>
                  <div class="risk-count">{{item.overallRiskRatingBefore}}</div>
                </div>
                <div class="risk-date">{{item.plannedActionDate | date: 'd MMM yyyy'}}</div>
              </div>

              <div class="bottom">

                <button (click)="OnCardClicked(item.id)" class="view-risk-button">View Risk →</button>
              </div>
            </div>
          }



        </div>



    </div>
  </div>
</div>
</app-body-container>






    <!-- <div class="searchbuttons">
      <div class="dropdown">
        <app-department-dropdown></app-department-dropdown>
      </div>
      <div class="registerbutton">
        <app-button class="btn" title="Register Risk" bgColour="#FFFFFF" routerLink="/addrisk" height="47" width="150"></app-button>
      </div>
    </div>
    <div class="graphs">
        <div class="graphcard">
          <h4>Risk Metrics Distribution</h4>
        <div class="graph1">
          <app-chart [labels]="graph1labels" [chartType]="graph1chartType" [datasets]="graph1datasets"></app-chart>
        </div>
        </div>
        <div class="graphcard">
          <h4>Types of Open Risks</h4>
        <div class="graph2">
          <app-chart [labels]="graph2labels" [chartType]="graph2chartType" [datasets]="graph2datasets"></app-chart>
        </div>
        </div>
        <div class="graphcard">
          <h4>Department Risks</h4>
        <div class="graph3">
          <app-chart [labels]="graph3labels" [chartType]="graph3chartType" [datasets]="graph3datasets"></app-chart>
        </div>
        </div>
    </div>
    <div class="apptable">
      <app-table class="table" (onclickrow)="OnClickRow($event)"></app-table>
    </div> -->
