<app-body-container class="main">

    <div class="searchbuttons">
      <div class="dropdown">

      <app-department-dropdown></app-department-dropdown>
      </div>
      <div class="registerbutton">
        <app-button class="btn" title="Register Risk" bgColour="#FFFFFF" routerLink="/addrisk" height="47" width="150"></app-button>

      </div>

    </div>
    <div class="graphs">
        <div class="graphcard">
          <h4>Risk Metrics Distribution</h4>
          <div class="graph1">
            <app-chart [labels]="graph1labels" [chartType]="graph1chartType" [datasets]="graph1datasets"></app-chart>

          </div>

        </div>
        <div class="graphcard">
          <h4>Types of Open Risks</h4>
          <div class="graph2">
            <app-chart [labels]="graph2labels" [chartType]="graph2chartType" [datasets]="graph2datasets"></app-chart>

          </div>


        </div>
        <div class="graphcard">
          <h4>Department Risks</h4>
          <div class="graph3">
            <app-chart [labels]="graph3labels" [chartType]="graph3chartType" [datasets]="graph3datasets"></app-chart>

          </div>
        </div>




    </div>
    <div class="apptable">
      <app-table class="table">
       

      </app-table>

    </div>







</app-body-container>
