<div class="modal-overlay">
  <div  class="modal-content">

  <div class="modal-content-container">
    <form [formGroup]="group" (ngSubmit)="onSubmit()" >
      <div class="form-detail">
        <label for="name">{{textLabel}} <span class="required"> *</span></label>
        <input type="text" id="name" placeholder="{{placeholder}}" formControlName="fullName"  >
      </div>
      @if(group.get("fullName")){


        @if (group.get("fullName")?.hasError('minlength')) {
          <div class="text-danger">minimum length is 3</div>

        }
        @else if (group.get("fullName")?.hasError('required')&& group.get("fullName")?.dirty) {
          <div class="text-danger">Full name is required</div>
        }

      }

      <div class="form-detail">
        <label for="email">Email <span class="required"> *</span></label>
        <input type="text" id="email" placeholder="Enter email" formControlName="email" >
      </div>
      @if(group.get("email")){

        @if (group.get("email")?.hasError('email')) {
          <div class="text-danger">Please enter proper email</div>

        }

      }
        @if(!isAssignee){
          <div class="form-detail">
            <label for="department">Department Name <span class="required"> *</span></label>
            <app-dropdown  [options]="dropdownDepartment"
              [displayField]="'departmentName'"
              [valueField]="'id'"
              selectValue="Select Department"
              [openDropdownId]="openDropdownId"
              [dropdownId]="dropdownId"
              (openDropdown)="openDropdown.emit($event)"
              width="100" id="reviewer-department" formControlName="departmentId"  >
             </app-dropdown>
          </div>

          @if(group.get("departmentId")){

            @if (group.get("departmentId")?.hasError('required')) {
              <div class="text-danger">Department is required</div>
            }

          }

        }


      <div class="form-detail">
        <div class="button-group">
           <app-style-button (clicked)="onSubmit()" label="Save" type="button"></app-style-button>
        <app-style-button (clicked)="cancel()" label="Cancel" type="button"></app-style-button>
        </div>
      </div>
    </form>
  </div>
</div>

</div>

