<div class="modal-overlay">
  <div  class="modal-content">
  <div class="modal-content-container">
    <form [formGroup]="group" (ngSubmit)="onSubmit()" >
      <div class="form-detail">
        <label for="name">{{textLabel}} <span class="required"> *</span></label>
        <input type="text" id="name" placeholder="{{placeholder}}" formControlName="fullName"  >
      </div>
      <!-- <app-form-input label="textLabel" required=" *" placeholder="Enter responsible person full name" formControlName="riskName"></app-form-input> -->

      <div class="form-detail">
        <label for="email">Email <span class="required"> *</span></label>
        <input type="text" id="email" placeholder="Enter email" formControlName="email" >
      </div>
      <!-- <app-form-input label="Email" required=" *" placeholder="Enter email" formControlName="email"></app-form-input> -->

        <div class="form-detail">
          <label for="department">Department Name <span class="required"> *</span></label>
          <app-dropdown  [options]="dropdownDepartment"
            [displayField]="'departmentName'"
            [valueField]="'id'"
            selectValue="Select Department"
            [openDropdownId]="openDropdownId"
            [dropdownId]="dropdownId"
            (openDropdown)="openDropdown.emit($event)"
            width="100" id="reviewer-department" formControlName="departmentId"  >
           </app-dropdown>
        </div>


      <div class="form-detail">
        <div class="button-group">
           <app-form-button label="Save" type="submit"></app-form-button>
           <app-form-button label="Cancel" (clicked)="cancel()"></app-form-button>
        </div>
      </div>
    </form>
  </div>
</div>

</div>

