

.likelihood-impact-card
{
  height: 26vh;
  width: 14vw;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.1vh;

}


h6{
  font-size: 2.2vh;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  color: var(--secondary-text-color);
}

span{
  width: 50px;
  text-align: center;
  font-weight: 500;
}

.heading
{
  font-weight: bold;
  font-size: 2.3vh;
  color: var(--secondary-text-color);

}
