
<div class="top-container">
  <h2>RiskEx</h2>
  <div class="first-container">

    <h1>Set a Password </h1>
    <p>Your previous password has been reseted. Please set a new password for your account.</p>

    <form>
      <label for="create password">Create Password:</label>
      <br>
      <input type="password" id="pass" name="password" placeholder="Enter your Password" required>
      <br>
      <label for="passw">Re-Enter password</label>
      <br>
      <input type="password" id="pass2" name="password" placeholder="Re-Enter the Password" required>
      <br>
      <button type="submit">Set Password</button>
    </form>
  </div>
  <div class="right-box">
  <img src="/Images/Rectangle 20.png" alt="">
  </div>
  <img src="/Images/experion logo.png" alt="">
  </div>

