
<div class="user-dropdown-container">
  <!-- User Icon -->
  <div class="user-icon" (click)="toggleDropdown()">
    <img src="assets/user-icon.png" alt="User Icon" />
  </div>

  <!-- Dropdown Menu -->
  <div class="dropdown-menu" *ngIf="isDropdownVisible">
    <p><strong>Username:</strong> achu{{ user.username }}</p>
    <p><strong>Department:</strong> sfm{{ user.department }}</p>
    <p><strong>Role:</strong>developer {{ user.role }}</p>
    <button (click)="logout()">Logout</button>
  </div>
</div>
