

<div class="popup-container">
  <h2>Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Current Password</label>
      <input type="password" formControlName="currentPassword" />
      <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched">
        Current password is required.
      </div>
    </div>

    <div>
      <label>New Password</label>
      <input type="password" formControlName="newPassword" />
      <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
        New password must be at least 8 characters, contain an uppercase, lowercase, and number.
      </div>
    </div>

    <div>
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" />
      <div *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched">
        Passwords do not match.
      </div>
    </div>

    <div class="button-container">
      <button type="submit" (click)="navigateTohome()" [disabled]="changePasswordForm.invalid">Change Password</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>

