<app-body-container
  class="hide-scrollbar"
  backgroundColor="transparent"
  ShowShadow="false"
>
  <main>
    <app-risk-basic-details-card
      [isEditable]="false"
      riskDesc="{{ data.risk_description }}"
      riskName="{{ data.risk_name }}"
      riskNumber="{{ data.risk_number }}"
      riskType="{{ data.risk_type }}"
      [overallRiskRating]="
        data.assessment_post_implementation.overall_risk_rating
      "
      riskStatus="{{ data.risk_status }}"
    ></app-risk-basic-details-card>
    <app-risk-details-section2
      riskMitigation="{{ data.risk_mitigation }}"
      impact="{{ data.impact_of_risk }}"
      riskContengency="{{ data.risk_contingency }}"
      responsibilityOfAction="{{ data.responsibility_of_action }}"
      plannedActionDate="{{ data.planned_action_date }}"
    ></app-risk-details-section2>
  </main>
  <!-- Confirmation Popup -->
  <app-confirmation-popup
    [isOpen]="isPopupOpen"
    [title]="popupTitle"
    [confirmText]="popupConfirmText"
    [showComment]="showPopupComment"
    [isReject]="isPopupReject"
    (confirm)="handlePopupConfirm($event)"
    (cancel)="handlePopupCancel()"
  >
  </app-confirmation-popup>

  <!-- Button Group -->
  <div class="button-group">
    <app-style-button
      label="Approve"
      color="primary"
      class="btn-success"
      (clicked)="openPopup(false)"
    >
    </app-style-button>

    <app-style-button
      label="Reject"
      color="primary"
      class="btn-danger"
      (clicked)="openPopup(true)"
    >
    </app-style-button>
  </div>
</app-body-container>
