<app-body-container class="hide-scrollbar">
    <main>
      <app-risk-basic-details-card [isEditable]="false" riskDesc={{data.risk_description}}  riskName={{data.risk_name}} riskNumber={{data.risk_number}} riskType={{data.risk_type}}  [overallRiskRating]="data. assessment_post_implementation.overall_risk_rating" riskStatus="{{data.risk_status}}" ></app-risk-basic-details-card>
    <app-risk-details-section2 riskMitigation={{data.risk_mitigation}} impact={{data.impact_of_risk}} riskContengency={{data.risk_contingency}} responsibilityOfAction={{data.responsibility_of_action}} plannedActionDate={{data.planned_action_date}}></app-risk-details-section2>
    </main>
    <div class="comment-section">
        <form [formGroup]="commentForm" (ngSubmit)="ApproveRisk()">

        <label for="comment" class="form-label"><h5>Comments</h5></label>
        <input id="comment" class="form-control" rows="4" placeholder="Write your comment here..." formControlName="approve"/>

    @if(cancelMessage){
        <div class="cancel-message">
            <p>{{cancelMessage}}</p>
        </div>
    }
    @if(approveMessage){
        <div class="cancel-message">
            <p>{{approveMessage}}</p>
        </div>
    }
    @if(!isButtonClicked){
    <div class="button-group">
        <app-style-button
        type="submit"
        label="Approve"
        color="primary">
       </app-style-button>
       <app-style-button
       type="button"
       label="Reject"
       color="primary"
       (clicked)="cancelRisk()">
      </app-style-button>
        <!-- <button type="submit" class="btn btn-success">Approve</button> -->
        <!-- <button type="button" class="btn btn-danger" (click)="cancelRisk()">Cancel</button> -->
    </div>
    }</form>
</div>
  </app-body-container>


