@if(isLoading)
{
  <div class="shimmer-container">

      <div  class="shimmer" style="height: 200px;width: 95%;">

      </div>
      <div  class="shimmer" style="height: 200px;width: 95%;">

      </div>
      <div  class="shimmer" style="height: 200px;width: 95%;">

      </div>
  </div>
}
@else{
  <app-body-container
  class="hide-scrollbar"
  backgroundColor="transparent"
  ShowShadow="false"
>
  <main>
    <ng-container *ngIf="isDataAvailable()">

    <!-- @if(Object.keys(data).length!==0){ -->
    <app-risk-basic-details-card data-aos="zoom-in" [isEditable]="true"  [allData]="data" ></app-risk-basic-details-card>
    <app-risk-details-section2 data-aos="zoom-in" [data]="riskDetailsSection2Data"></app-risk-details-section2>
    <!-- <app-risk-details-section3-mitigation [data]="riskDetailsSection3MitigationData" ></app-risk-details-section3-mitigation> -->


    @if(data.riskAssessments[1])
    {
      <div class="residualriskData">
        <div style="width: 100%;display: flex;justify-content: center;margin-top: 40px;">
          <div class="residual-div">
            Residual Risk :{{data.residualRisk}}   |   Residual Value  :  {{data.residualValue}}    |   Percentage Reduction  : {{  data.percentageRedution }}
          </div>
        </div>
      </div>
    }

  </ng-container>
  </main>
  <!-- Confirmation Popup -->
  <app-confirmation-popup
    [isOpen]="isPopupOpen"
    [title]="popupTitle"
    [confirmText]="popupConfirmText"
    [showComment]="showPopupComment"
    [isReject]="isPopupReject"
    (confirm)="handlePopupConfirm($event)"
    (cancel)="handlePopupCancel()"
  >
  </app-confirmation-popup>

  <!-- Button Group -->
   @if(!isAdmin && showButtons){
    <div class="button-group">
      <app-style-button
        label="Approve"
        color="primary"
        class="btn-success"
        (clicked)="openPopup(false)"
      >
      </app-style-button>

      <app-style-button
        label="Reject"
        color="primary"
        class="btn-danger"
        (clicked)="openPopup(true)"
      >
      </app-style-button>
    </div>
   }

</app-body-container>

}

