main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.comment-section {
    width: 100%;
    margin-top: 20px ; /* Center the section */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing only */
    // margin: 10px;
}
.button-group {
    display: flex;
    gap: 30px; /* Space between buttons */
    margin-top: 30px;
    justify-content: end;
    margin-right: 10px;
}

button {
    padding: 7px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100px;
}

button.btn-success {
    background-color: #3E68B9;
    color: white;
}

button.btn-success:hover {
    background-color: #052564;
    transform: scale(1.05);
}


button.btn-danger {
    background-color: #ECEAFA;
    color: rgb(17, 16, 16);
}

button.btn-danger:hover {
    background-color: #b6b5bd;
    transform: scale(1.05);
}
.cancel-message{
    width: 100%;
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F6FBFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

  .shimmer-container
  {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .shimmer {
    background-color: #eee; /* Base color */
    background-image: linear-gradient(to right, #ededed 0%, #fff 20%, #ecebeb 40%);
    background-size: 800px 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 20px;

  }

  .residualriskData
  {

      border-radius: 10px;
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .residual-div
  {

  height: 50px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  font-size: 2.5vh;
  font-weight: bold;
  color: rgb(215, 59, 59);

  }


  @keyframes shimmer {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }
