
<div class="stepper-container">
  <div class="timeline">
    @for(step of steps; track step.id) {

      <div class="step-item" [class.completed]="step.isCompleted">
        @if(step.id %2==0){
          <div class="step-content">
            <div class="step-title">{{ step.title }}</div>
            <div class="step-info">
              <span>by {{step.actionBy.split(' ')[0]+" " }} <span [ngStyle]="{'color':step.message=='(Accepted)'?'green':'red'}" > {{step.message }}</span> </span>
              <span class="date">on {{ step.date!="..."?  (step.date | date: 'd MMM yyyy'):'...'}}</span>
              <div class="tooltip">
                info: {{ step.actionBy }} completed this step on {{ step.date!="..."?  (step.date | date: 'longDate'):'...' }}
              </div>
            </div>
          </div>
          <div class="step-icon"
               [class.completed]="step.isCompleted"

               [class.current]="step.id === currentStep">
            @if (step.isCompleted) {
              <i class="checkmark">✓</i>
            } @else {
              {{ step.stepNumber }}
            }
          </div>
        }

         <div class="step">

        </div>
        @if(step.id %2!==0){
          <div class="step-icon"
               [class.completed]="step.isCompleted"
               [class.current]="step.id === currentStep">
            @if (step.isCompleted) {
              <i class="checkmark">✓</i>
            } @else {
              {{ step.stepNumber }}
            }
          </div>
          <div class="step-content">
            <div class="step-title">{{ step.title }}</div>
            <div class="step-info">
              <span>by {{step.actionBy.split(' ')[0]+" " }} <span [ngStyle]="{'color':step.message=='Accepted'?'green':'red'}" > {{step.message }}</span> </span>

              <span class="date">on {{ step!=null? step.date!="..."?  (step.date | date: 'd MMM yyyy'):'...':''}}</span>
              <div class="tooltip">
                info: {{ step.actionBy }} completed this step on {{ step!=null? step.date!="..."?  (step.date | date: 'longDate'):'...':'' }}
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
