.matrix-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    
  }
  
  .matrix {
    border: 1px solid #ffffff;
    padding: 40px;
    display: table;
    width: 100%;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f4f1ec;
    border-radius: 10px;
  }
  .right-arrow{
    font-weight: 800;
  }
  
  .header-row {
    display: table-row;
    background-color: #f4f1ec;
  }
  
  .corner-cell {
    display: table-cell;
    padding: 10px;
    font-weight: bold;
    width: 120px;
    text-align: center;
    background-color: #f4f1ec;

  }
  
  .header-cell {
    display: table-cell;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    width: 100px;
  }
  
  .matrix-row {
    display: table-row;
  }
  
  .impact-cell {
    display: table-cell;
    padding: 10px;
    font-weight: bold;
    background-color: #f4f1ec;     //f5f5f5
    vertical-align: middle;
  }
  
  .matrix-cell {
    display: table-cell;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #000;
    border: 1px solid #ccc;
    
    
  }

.matrix-cell:hover {
    transform: scale(1.03); 
    z-index: 10; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    // cursor: pointer;
  }