.field{
  background-color: white;
  width: 80vw;
  margin-left: 115px;
  margin-top: 10px;
  padding: 30px;

}
input{
  margin-left: 60px;
  width: 400px;
}
textarea{
  margin-left: 55px;
  width: 400px;
  height: 32px;
  margin-top: 20px;



}

.impact{



  textarea{
    margin-left:33px ;
    margin-top: 20px;
  }

}
.project{
  input{

    width: 200px;
    margin-left: 82px;
    margin-top: 20px;
  }
}
.required{
  color: red;
  margin-left: 4px;
}
.assessment{
  margin-top: 20px;

}
#thirdfield{
  margin-bottom: 90px;
  border-radius: 0px 0px 10px 10px ;
}



#likelihoodDropdown{
  margin-left: 30px;

}
#impactDropdown{
  margin-left: 55px;
}
.textareaspace{
  margin-left: 30px;
}
.actionDate input{
  margin-right: -30px;
}



