.container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
}



.content {
  flex-basis: 100%;

}

.riskType {
  background-color: white;
  width: 80vw;
  margin-left: 15px;
  margin-top: 20px;
  // padding-top: 10px;
  border-radius: 10px 10px 0px 0px;
}



.typeImage {
  background-color: white;
  width: 80vw;
  margin-left: 15px;
  padding: 30px;
  margin-top: 10px;
  border-radius: 0px 0px 10px 10px;
}

.typeImageContainer {
  border: 1px dashed black;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 10px;
  flex-direction: column;


}

.required {
  color: red;
  margin-left: 4px;
}

.dropdown {
  position: relative;
  z-index: 999;
}

.selected {
  // text-decoration: underline;
  font-weight: bold;
  color: white;
  background-color: #3E68B9;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0px;
  width: 150px;

}

.chooseSelect {
  color: white;
  background-color: #3E68B9;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0px;
  margin-top: 5px;
  width: 150px;
  padding-top: 10px;
  padding-left: 25px;

}

.notChooseSelect {
  padding-top: 5px;
  padding-left: 10px;
  color: black;

}



button {
  padding: 10px 20px;
  margin: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#riskTypeDiv {
  display: flex;
  flex-direction: row;



}

.chooseRisk {
  margin-top: 10px;
  margin-left: 20px;

}

.riskDiv {
  margin-left: 20px;
}

.isSelect {
  display: block;
}

.isSelectNot {

  button {
    color: white;

  }
}
.chooseType{
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-right: 50px;
  margin-bottom: 70px;

}
.chooseContainer{
  border:  1px dashed black;
  padding: 10px;
  height: 150px;
  justify-content: center;
  align-content: center;
  border-radius: 10px;



}
.chooseContainer:hover{
  background-color: #3E68B9;

  button{
    color: white;
  }

}
