<div class="container">
  <div class="content">
    <div class="riskType" id="riskTypeDiv" [ngClass]="isSelect ? 'isSelect' : 'isSelectNot'">

      <div class="riskDiv">
        <button (click)="setQuality()" [ngClass]="isSelectQuality ? 'selected' : ''">Quality</button>
      </div>

      <div class="riskDiv">
        <button (click)="setSecurity()"[ngClass]="isSelectSecurity ? 'selected' : ''">Security</button>
      </div>

      <div class="riskDiv">
        <button (click)="setPrivacy()"[ngClass]="isSelectPrivacy ? 'selected' : ''">Privacy</button>
      </div>
    </div>
    @if (selectedOptionFromChild==="") {
      <div class="typeImage">
        <div class="typeImageContainer">
          <h4 style="margin-right: 50px;margin-bottom: 50px;">Choose A Risk Type</h4>

          <div class="chooseType">
            <div class="chooseContainer">
              <button (click)="setQuality()" [ngClass]="isSelectQuality ? 'selected' : ''">Quality</button>
              <img src="images (12).jpg" alt="Quality" style="height: 50px;">

            </div>
            <div class="chooseContainer">
              <button (click)="setSecurity()"[ngClass]="isSelectSecurity ? 'selected' : ''">Security</button>
              <img src="images (12).jpg" alt="Quality" style="height: 50px;">


            </div>
            <div class="chooseContainer">
              <button (click)="setPrivacy()"[ngClass]="isSelectPrivacy ? 'selected' : ''">Privacy</button>
              <img src="images (12).jpg" alt="Quality" style="height: 50px;">


            </div>


          </div>


        </div>

      </div>

    }
    @if (selectedOptionFromChild==="quality") {
      <app-qms-form  [riskTypeValue]="selectedOptionFromChild"></app-qms-form>
    }
    @if (selectedOptionFromChild==="privacy"||selectedOptionFromChild==="security") {
      <app-isms-form [riskTypeValue]="selectedOptionFromChild"></app-isms-form>

    }

  </div>
</div>




