.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.response-container {
    text-align: center;
    width: 60%;
    padding: 20px;
    border: 1px solid #b4afaf;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .reject-icon {
    font-size: 50px;
  }

  .input-container {
    margin: 20px 0;
  }

  textarea.reason-input {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }

  button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #f5a4a4;
    cursor: not-allowed;
  }

  button:hover:enabled {
    background-color: #c82333;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .spinner-border {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentcolor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
    margin-right: 5px;
  }

  @keyframes spinner-border {
    to { transform: rotate(360deg); }
  }
