<div class="body">
    <!-- Reason Input Section -->
    <div *ngIf="!isReasonSubmitted" class="response-container">
      <h2 style="color: rgba(14, 14, 14, 0.774);">Reason for Rejection</h2>
      <form [formGroup]="rejectionForm" (ngSubmit)="submitReason()">
        <div class="input-container">
          <textarea
            formControlName="reason"
            placeholder="Please enter the reason for rejection..."
            class="reason-input"
          ></textarea>
          <div *ngIf="reasonControl?.invalid && reasonControl?.touched" class="error-message">
            Reason is required.
          </div>

          <button type="submit" [disabled]="rejectionForm.invalid || isSubmitting">
            <span *ngIf="!isSubmitting">Submit Reason</span>
            <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="isSubmitting">Loading...</span>
          </button>
        </div>
      </form>
    </div>

    <!-- Confirmation Message Section -->
    <div *ngIf="isReasonSubmitted" class="response-container">
      <div class="icon-container">
        <span class="reject-icon" style="color: rgb(48, 8, 100) !important;">&#10060;</span>
      </div>
      <h2 style="color: rgba(14, 14, 14, 0.774);">Risk Rejected</h2>
      <p>
        The risk has been rejected. If this action was a mistake or
        If you have further concerns, please contact the Audits & Compliance Team or the Risk Owner for assistance.
      </p>
    </div>
  </div>
