
.risk-details-section2
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;





}


.risk-details-section2>div
{


  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55vh;
  gap: 20px;




}
.responsibility-of-action-planned-Action-div
{
  height: 100%;
  width: 45%;
  border-radius: 10px;
  padding: 20px;
  background-color: var( --accent-color);
}
.responsibility-of-action-planned-Action-div>p{
  width: 100%;

  word-wrap: break-word;
}
.responsibility-of-action-planned-Action-div> div
{

width: 100%;
height: 100%;
background-color: #F5F5F5;
padding: 20px;
}

.responsibility-of-action-planned-Action-div>div> div
{
display: flex;
flex-direction: row;
margin-top: 30px;
}

.details-card
{
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--accent-color);



}

.details-card>div
{
  display: flex;
  flex-direction: row;
  gap :10px;
  margin-top: 20px;
  align-items: center;



}
.details-card>div>h6
{
 margin: 0px;
}
h5{
  font-size: 2.7vh;

  font-weight: bold;
}
p{
  font-size: 2.2vh;

}

.risk-status
{
  height: 100%;width: 100%;background-color: white;
  border-radius: 10px;
}

