<div class="risk-details-section2">


  <!-- Left side: To Show Risk Mitigation and  Risk Continjency -->
  <div>

    <div id="mitigationCard" class=" primaryColor shadowType1 details-card "  >
      <h5 >Risk Mitigation</h5>
      <p title={{riskMitigation}}>{{riskMitigation.length>1020?riskMitigation.slice(0,1020)+"...":riskMitigation}}..</p>
    </div>

    @if(riskContengency!=null&&riskContengency!=""&&riskContengency.length>5)
    {
      <div id="contingencyCard"  class=" primaryColor shadowType1 details-card ">
        <h5>Risk Contingency</h5>
        <p title={{riskContengency}}>{{riskContengency.length>1020? riskContengency.slice(0,1020)+"...":riskContengency}}..</p>

      </div>
    }


  </div>

    <!-- Right side: To show planned action date and responsibility of action -->
  <div>
    <div  class="responsibility-of-action-planned-Action-div" >
      <div>
        <h5>Impact Of Risk</h5>
        <p  title={{impact}}>{{ impact.length>100? impact.slice(0,100)+"....":impact}}</p>
        <div class="" >
          <h5 >Risk Owner : </h5>
          <h6 >{{responsibilityOfAction}}</h6>
        </div>
        <div class="" >
          <h5 >Risk Creator : </h5>
          <h6 >{{CreatedBy}}</h6>
        </div>

        <div  class=" " >
          <h5>Planned date of Action : </h5>
          <h6>{{plannedActionDate | date: 'd MMM yyyy'}}</h6>
        </div>


        @if(stepperData[2].isCompleted )
        {
          <div  class=" " >
            <h5>Closed Date : </h5>
            <h6>{{ClosedDate | date: 'd MMM yyyy'}}</h6>
          </div>

          <div class="" >
            <h5 >Risk Response : </h5>
            <h6 >{{RiskResponse}}</h6>
          </div>

          <div class=""   style="display: flex;flex-direction: row;align-items: start;">

            <p style="width: 100%;font-size: 2.1vh; margin: 0px;padding: 0px;"  ><span style="font-weight: bold;">Remarks : </span>{{ Remarks.length>70? Remarks.slice(0,90)+"....":Remarks}}</p>
          </div>
        }

      </div>


    </div>
    <div class="risk-status">
      <h5>Risk Progress</h5>

        <app-stepper [steps]="stepperData" (stepCompleted)="completeStep($event)"></app-stepper>


    </div>
  </div>

</div>
