<div class="ismsForm">
  <form [formGroup]="ismsForm" (ngSubmit)="onSubmit()" >
    <div class="form-details-sub-container">
      <h2>Risk Details</h2>
     <div class="form-row">
       <app-form-input label="Risk Name" required=" *" formControlName="riskName" ></app-form-input>

       @if(ismsForm.get("riskName")){

        @if (ismsForm.get("riskName")?.hasError('required')&& ismsForm.get("riskName")?.dirty) {
          <div class="text-danger">Risk name is required</div>
        }

      }
       <app-form-dropdown label="Project Name" dropdownCode="projectCode" [dropdownData]="dropdownProject" dropdownDisplay="name" dropdownValue="id" selectValue="Select project" (change)="onDropdownChangeProject($event)" [selectedValue]="preSelectedProject" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-dropdown>
     </div>
      @if(isAdmin === 'Admin'){
      <app-form-dropdown label="Department Name" [dropdownData]="dropdownDepartment" dropdownDisplay="departmentName" dropdownValue="id" selectValue="Select department" (change)="onDropdownChangeDepartment($event)" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)" ></app-form-dropdown>
      }
      <app-form-text-area label="Impact Of Risk" required="*" placeHolder="Enter impact of risk"
      message="Impact of a risk refers to the potential consequences or effects that a risk event
      may have on a project, system, or organization if it occurs. It can include financial loss,
      delays, operational disruptions, or damage to reputation." formControlName="impact"  ></app-form-text-area>

      @if(ismsForm.get("impact")){

        @if (ismsForm.get("impact")?.hasError('maxlength')) {
          <div class="text-danger">maximum length is 1000</div>

        }
        @else if (ismsForm.get("impact")?.hasError('minlength')) {
          <div class="text-danger">minimum length is 15</div>

        }
        @else if (ismsForm.get("impact")?.hasError('required')&& ismsForm.get("impact")?.dirty) {
          <div class="text-danger">Impact of risk is required</div>
        }

      }
      <app-form-text-area label="Description" required="*" placeHolder="Enter description of risk"
     message="Provide a detailed description of the risk, including what could cause it" formControlName="description"  ></app-form-text-area>

     @if(ismsForm.get("description")){

      @if (ismsForm.get("description")?.hasError('maxlength')) {
        <div class="text-danger">maximum length is 1000</div>

      }
      @else if (ismsForm.get("description")?.hasError('minlength')) {
        <div class="text-danger">minimum length is 15</div>

      }
      @else if (ismsForm.get("description")?.hasError('required')&& ismsForm.get("description")?.dirty) {
        <div class="text-danger">Description of risk is required</div>
      }

    }
    </div>
    <div class="form-details-sub-container">
      <h2>Current Risk Assessment</h2>
      <table  class="risk-assessment-table">
      <tr>
        <th></th>
        <th>Likelihood <span class="required">*</span></th>
        <th>Impact <span class="required">*</span></th>
        <th> <span style="margin-left: 30px;"> Risk Factor</span></th>
      </tr>
      <tr>
        <td><h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none'}">Confidentiality</h2></td>
        <td>
            <app-form-dropdown  [dropdownData]="dropdownLikelihood" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select likelihood" (change)="onDropdownChange($event,'Likelihood','Confidentiality')" [selectedValue]="preSelectedConfidentialityLikelihood" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-dropdown>
        </td>
        <td>
            <app-form-dropdown  [dropdownData]="dropdownImpact" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select impact" (change)="onDropdownChange($event,'Impact','Confidentiality')" [selectedValue]="preSelectedConfidentialityImpact" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-dropdown>
        </td>
        <td><h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none','margin-left':'5vw','color': changeColorRiskFactor('Confidentiality')}">{{confidentialityRiskFactor}}</h2></td>
      </tr>

      <tr>
        <td><h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none'}">Integrity</h2></td>
        <td>
            <app-form-dropdown  [dropdownData]="dropdownLikelihood" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select likelihood" (change)="onDropdownChange($event,'Likelihood','Integrity')" [selectedValue]="preSelectedIntegrityLikelihood" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-dropdown>
        </td>
        <td>
            <app-form-dropdown  [dropdownData]="dropdownImpact" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select impact" (change)="onDropdownChange($event,'Impact','Integrity')" [selectedValue]="preSelectedIntegrityImpact" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-dropdown>
        </td>
        <td><h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none','margin-left':'5vw','color': changeColorRiskFactor('Integrity')}">{{integrityRiskFactor}}</h2></td>
      </tr>

      <tr>
        <td><h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none'}">Availability</h2></td>
        <td>
            <app-form-dropdown  [dropdownData]="dropdownLikelihood" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select likelihood" (change)="onDropdownChange($event,'Likelihood','Availability')" [selectedValue]="preSelectedAvailabilityLikelihood" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-dropdown>
        </td>
        <td>
            <app-form-dropdown  [dropdownData]="dropdownImpact" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select impact" (change)="onDropdownChange($event,'Impact','Availability')" [selectedValue]="preSelectedAvailabilityImpact" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-dropdown>
        </td>
        <td><h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none','margin-left':'5vw','color': changeColorRiskFactor('Availability')}">{{availabilityRiskFactor}}</h2></td>
      </tr>

      <tr>
        <td><h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none'}">Privacy</h2></td>
        <td>
            <app-form-dropdown  [dropdownData]="dropdownLikelihood" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select likelihood" (change)="onDropdownChange($event,'Likelihood','Privacy')" [selectedValue]="preSelectedPrivacyLikelihood" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-dropdown>
        </td>
        <td>
            <app-form-dropdown  [dropdownData]="dropdownImpact" dropdownDisplay="assessmentFactor" dropdownValue="id" selectValue="Select impact" (change)="onDropdownChange($event,'Impact','Privacy')" [selectedValue]="preSelectedPrivacyImpact" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-dropdown>
        </td>
        <td><h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none','margin-left':'5vw','color': changeColorRiskFactor('Privacy')}">{{privacyRiskFactor}}</h2></td>
      </tr>
      </table>
      <div class="form-row" [ngStyle]="{'margin-top':'30px'}">
       <h2 [ngStyle]="{'border-bottom':'0px','text-transform':'none'}">Overall Risk Rating : <span style="margin-left: 10px;" [ngStyle]="{'color': changeColorOverallRiskRating()}" >{{overallRiskRating}}</span></h2>
      </div>
      <p [ngStyle]="{'margin-top':'20px','font-style':'italic','color':'grey'}">Risk Factor = Likelihood * Impact</p>
      <p [ngStyle]="{'margin-top':'20px','font-style':'italic','color':'grey'}">Overall risk rating = Risk Factor(Confidentiality)+Risk Factor(Integrity)+Risk Factor(Availability)+Risk Factor(Privacy)</p>
      <div [ngStyle]="{'margin-top':'20px','font-style':'italic','color':'grey'}">
       <p>For reference <span (click)="isHeatMapReference()" ><a href="javascript:void(0);">click </a></span>here</p>
      </div>
    </div>
    <div class="form-details-sub-container">
      <h2>Risk Management</h2>
      <app-form-text-area label="Risk Mitigation" required="*" placeHolder="Enter mitigation plan"
      message="Mitigation refers to actions taken to reduce the likelihood or impact of a risk.
      Ensure preventive measures, such as implementing safety protocols or backup systems, to minimize
      the risk." formControlName="mitigation"  ></app-form-text-area>

      @if(ismsForm.get("mitigation")){

        @if (ismsForm.get("mitigation")?.hasError('maxlength')) {
          <div class="text-danger">maximum length is 1000</div>

        }
        @else if (ismsForm.get("mitigation")?.hasError('minlength')) {
          <div class="text-danger">minimum length is 15</div>

        }
        @else if (ismsForm.get("mitigation")?.hasError('required')&& ismsForm.get("mitigation")?.dirty) {
          <div class="text-danger">Mitigation of risk is required</div>
        }

      }

      <app-form-text-area label="Risk Contingency" placeHolder="Enter contingency plan"
      message="Contingency planning involves preparing for unforeseen events by having backup
      plans in place. These plans help ensure that your project can continue with minimal disruption
      if unexpected risks occur." formControlName="contingency"  ></app-form-text-area>
    </div>
    <div class="form-details-sub-container">
      <h2>Action Plan</h2>
      <app-form-dropdown label="Responsibility of action" required="*" [dropdownData]="dropdownAssignee" dropdownDisplay="fullName"
      dropdownValue="id" selectValue="Select responsible person" (change)="onDropdownChangeResponsiblePerson($event)"
      [selectedValue]="preSelectedResponsiblePerson" [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"
      message="You can select an existing responsible person from the dropdown
      or enter a new one. If you enter a new name, it will take priority over the dropdown selection."  ></app-form-dropdown>


      @if(isnewAssigneenameDisplay){
        <h6>Responsible Person Name: <span style="font-weight: bolder;">{{newAssigneename}}</span></h6>
      }

      <div [ngStyle]="{'margin-top':'20px','font-style':'italic','color':'grey'}">
        <p>If responsible person not in the list <span (click)="isAssigneeNotInList()" ><a href="javascript:void(0);">click </a></span>here</p>
      </div>

      <app-form-date-field label="Planned Action Date" required="*" formControlName="plannedActionDate"></app-form-date-field>

      @if(ismsForm.get("plannedActionDate")){

        @if (ismsForm.get("plannedActionDate")?.hasError('required')&& ismsForm.get("plannedActionDate")?.dirty) {
          <div class="text-danger">planned action date is required</div>
        }

      }
    </div>
    <div class="form-details-sub-container">
      <h2>Reviewer</h2>
      <app-form-dropdown label="Reviewer" required="*" [dropdownData]="dropdownReviewer" dropdownDisplay="fullName" dropdownValue="fullName"
      selectValue="Select reviewer" (change)="onDropdownChangeReviewer($event)"
      [selectedValue]="preSelectedReviewer" [openDropdownId]="openDropdownId"
      (openDropdown)="handleDropdownOpen($event)" message="You can select an existing reviewer from the dropdown
      or enter a new one. If you enter a new name, it will take priority over the dropdown selection." ></app-form-dropdown>

      @if(isnewReviewernameDisplay){
        <h6>Reviewer Name: <span style="font-weight: bolder;">{{newReviewername}}</span></h6>
      }

      <div [ngStyle]="{'margin-top':'20px','font-style':'italic','color':'grey'}">
        <p>If reviewer not in the list <span (click)="isReviewerNotInList()" ><a href="javascript:void(0);">click </a></span>here</p>
      </div>

    </div>
    <div class="form-details-sub-container">
      <div class="button-group">
        <app-style-button (clicked)="saveConfirmation()" label="Save" type="button"></app-style-button>
        <app-style-button (clicked)="cancelRisk()" label="Cancel" type="button"></app-style-button>
      </div>
    </div>
  </form>
  @if(HeatMapRefernce){
    <h5>For Reference</h5>
    <app-form-reference-heatmap-popup (closeHeatMap)="closeHeatMap()"></app-form-reference-heatmap-popup>
   }
  @if(assigneeNotInList){
    <app-form-data-not-in-list placeholder="Enter responsible person name" [isAssignee]="true" textLabel="Responsible person name" [dropdownDepartment]="dropdownDepartment" (cancelForm)="receiveCancel($event)" (sendData)="saveAssignee($event)"  [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-data-not-in-list>
  }
  @if(reviewerNotInList){
    <app-form-data-not-in-list placeholder="Enter reviewer name" [isAssignee]="false" textLabel="Reviewer name" [dropdownDepartment]="dropdownDepartment" (cancelForm)="receiveCancel($event)" (sendData)="saveReviewer($event)"  [openDropdownId]="openDropdownId" (openDropdown)="handleDropdownOpen($event)"></app-form-data-not-in-list>
  }
  @if(isSuccessReviewer){
    <app-form-successfull
    message="The new Reviewer has been added successfully!"
    [isSuccessfull] ="true"
    (closeDialog)="closeReviewer()" >
    </app-form-successfull>
 }
 @if(isErrorReviewer){
  <app-form-successfull
  message="Something went wrong! <br> Please ensure all required fields are filled in correctly and check your internet connection.<br> If the issue persists, try again later or contact support."
  [isSuccessfull] ="false"
  (closeDialog)="closeReviewer()" >
  </app-form-successfull>
}
@if(isSuccessAssignee){
  <app-form-successfull
  message="The new Assignee has been added successfully!"
  [isSuccessfull] ="true"
  (closeDialog)="closeAssignee()" >
  </app-form-successfull>
}
@if(isErrorAssignee){
<app-form-successfull
message="Something went wrong! <br> Please ensure all required fields are filled in correctly and check your internet connection.<br> If the issue persists, try again later or contact support."
[isSuccessfull] ="false"
(closeDialog)="closeAssignee()" >
</app-form-successfull>
}

@if(isSave){
  <app-form-conform-popup message="Do you want to save the entered risk details? <br> You can check and edit them later if needed."  (closeDialog)="saveRisk()" (notCloseDialog)="saveConfirmation()"></app-form-conform-popup>
}

@if(isCancel){
  <app-form-conform-popup message="Are you sure you want to cancel? <br> Any unsaved changes will be lost."  (closeDialog)="closeRisk()" (notCloseDialog)="cancelRisk()"></app-form-conform-popup>
}

@if(isValid){
  <app-form-successfull
  message="Please check the form fields and <br> ensure all mandatory fields are satisfied "
  [isSuccessfull] ="false"
  (closeDialog)="closepopupIsValidCheck()" >
  </app-form-successfull>
  }
</div>

