<div class="forgot-password-container">
  
  <div class="back-to-login">
    <a routerLink="/login">&lt; Back to login</a>
  </div>
  <h1>Forgot your password?</h1>
  <p>
    Don’t worry, happens to all of us. Enter your email below to recover your
    password.
  </p>
  <form (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="john.doe@gmail.com"

        name="email"
        required
      />
    </div>
    <button type="submit" class="submit-button" >
      Submit
    </button>
  </form>
  <div class="illustration">
    <img src="assets/forgot-password-illustration.png" alt="Forgot password illustration" />
  </div>
  <footer>
    <span>experion</span>
    <span>Digitally Driven</span>
  </footer>
</div>
