
<div class="main-container">
<h2>RiskEx</h2>
<div class="box-container">
  <a href="" class="back-to-login"><i class="fa-solid fa-arrow-left"></i> Back to login</a>

  <h1>Forget Your Password ?</h1>
  <p>Don't worry, happens to all of us. Enter your email below to recover your password.</p>

  <form>
    <label for="email">Email:</label>
    <br>
    <input type="email" id="email" name="email" placeholder="Enter your email" required>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>
<div class="side-box">
<img src="/Images/Rectangle 20.png" alt="">
</div>
<img src="/Images/experion logo.png" alt="">
</div>
