
<div class="body">
  <div class="container1">
    <div class="header1">
      <div class="entries">
      <label for="entries">Show</label>
      <select id="entries" [(ngModel)]="itemsPerPage" (ngModelChange)="updatePaginatedItems()">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
      <label>entries</label>
      <app-searchbar (searchChanged)="onSearch($event)"></app-searchbar>
    </div>
   </div>
    <div class="table-container1 fi">
    <table class="table1">
      <thead>
        <tr class="bord">
          <th>SL No</th>
          <!-- <th>Risk ID</th> -->
          <th>Risk Name</th>
          <th>
            <button class="dropdown-button" (click)="toggleDropdown()">
              Department &#9662;
            </button>
            @if(isDropdownOpen){
            <ul class="dropdown-options">

              @for(department of uniqueDepartments;track department){
              <li
                (click)="onDepartmentSelect(department)">
                {{ department }}
              </li>
            }
              <li (click)="onDepartmentSelect('')">All Departments</li>
            </ul>
            }
          </th>
          <th>Type</th>
          <th>End Date</th>
          <th>Current Risk Rating</th>
          <th>Assignee</th>
          <th>Reviewer</th>
          <th>Review Status</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        @for(item of paginatedItems ;track item){
        <tr>
          <td>{{ item.slNo }}</td>
          <!-- <td>{{ item.riskId }}</td> -->
          <td>{{ item.riskName }}</td>
          <td>{{ item.department }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.endDate }}</td>
          <td><div [ngClass]="{'green-cell': item.currentRiskRating === 'Medium', 'red-cell': item.currentRiskRating === 'Critical', 'yellow-cell': item.currentRiskRating === 'High'}">{{ item.currentRiskRating }}</div></td>
          <td>{{ item.assignee }}</td>
          <td>{{ item.reviewer }}</td>
          <td>{{ item.reviewStatus }}</td>
          <td><div  [ngClass]="{'green-cell': item.status === 'Open', 'red-cell': item.status === 'Closed'}">{{ item.status }}</div></td>
          <!-- <td>{{item}}</td> -->
        </tr>
      }
      </tbody>
    </table>
    </div>
    <!-- <div class="foot"> -->
   @if(shouldDisplayPagination()){
    <app-pagination  [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChanged)="onPageChange($event)" class="pagination-controls pagination "></app-pagination>
   }
    <!-- </div> -->
  </div>
</div>
