
<!-- <div class="body"> -->

    <div class="header1">
      <div class="entries">
      <label for="entries">Show</label>
      <select id="entries" [(ngModel)]="itemsPerPage" (ngModelChange)="updatePaginatedItems()">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
      <label>entries</label>
    </div>
      <app-searchbar (searchChanged)="onSearch($event)"></app-searchbar>
      <!-- <div class="date">
        <app-datepicker></app-datepicker>

       </div> -->
   </div>


  <div class="container1">
    <div class="table-container1 fi">
    <table class="table1">
      <thead>
        <tr class="bord">
          <th>SL No</th>
          <!-- <th>Risk ID</th> -->
          <th>Risk Name</th>
          <th>
            <div class="dropdown-container">
            <button class="dropdown-button" (click)="toggleDepartmentDropdown()">
              Department &#9662;
            </button>
            @if(isDepartmentDropdownOpen ){
            <ul [class.open]="isDepartmentDropdownOpen" class="dropdown-options">

              @for(department of uniqueDepartments;track department){
              <li
                (click)="onDepartmentSelect(department)">
                {{ department }}
              </li>
            }
              <li (click)="onDepartmentSelect('')">All Departments</li>
            </ul>
            }
          </div>
          </th>
          <th>
            <div class="dropdown-container">
            <button class="dropdown-button" (click)="toggleTypeDropdown()">
              Risk Type &#9662;
            </button>
            @if(isTypeDropdownOpen ){
            <ul [class.open]="isTypeDropdownOpen"  class="dropdown-options">

              @for(type of uniqueRiskTypes;track type){
              <li
                (click)="onTypeSelect(type)">
                {{ type }}
              </li>
            }
              <li (click)="onTypeSelect('')">All Risk Types</li>
            </ul>
            }
          </div>
          </th>
          <th>End Date</th>
          <th>CRR</th>
          <th>Assignee</th>
          <th>Reviewer</th>
          <th>Review Status</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        @for(item of paginated ;track item){
        <tr (click)="rowClick(item.id)" style="height:10px;">
          <td>{{ item.id }}</td>
          <!-- <td>{{ item.riskId }}</td> -->
          <td>{{ item.riskName }}</td>
          <td>{{ item.departmentName }}</td>
          <td>{{ item.riskType }}</td>
          <td>{{ item.plannedActionDate| date: 'd MMM yyyy' }}</td>
          <td><div [ngClass]="{'green': item.overallRiskRating >=0 && item.overallRiskRating <= 50  , 'red': item.overallRiskRating > 70, 'yellow': item.overallRiskRating > 50 && item.overallRiskRating <= 70}">{{ item.overallRiskRating }}</div></td>
          <td>{{ item.responsibleUser }}</td>
          <td> {{item.riskAssessments[0].reviewer}}</td>
          <td> {{item.riskAssessments[0].reviewStatus }}</td>
          <td><div [ngClass]="{'green-cell': item.riskStatus === 'open', 'red-cell': item.riskStatus === 'close'}">{{ item.riskStatus }}</div></td>
          <!-- <td><div>{{ item.riskStatus }}</div></td> -->

        </tr>
      }
      </tbody>
    </table>
    </div>
    <!-- <div class="foot"> -->
   @if(shouldDisplayPagination()){
    <app-pagination  [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChanged)="onPageChange($event)" class="pagination-controls pagination ">

    </app-pagination>
   }

    <!-- </div> -->
  </div>
<!-- </div> -->
