.dropdown-box {
  padding: 10px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;

  cursor: pointer;
  display: inline-block;
  position: relative;
  min-width: 255px;
  font-size: 14px;
  color: rgb(39, 39, 39);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 5.5vh;
}

.arrow {
  font-size: 16px;
  margin-left: 10px;
}

.dropdown-content {
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 0;
  max-width: 255px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-content::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

.dropdown-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #c6c5c5;
  border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #e3dfdf;
}

input[type="text"] {
  width: 95%;
  padding: 8px;
  box-sizing: border-box;
  margin: 8px;
  border: 1px solid #929090;
  border-radius: 10px;

  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

label:hover {
  background-color: var(--secondary-color);
}

.department-option {
  padding: 8px;
  font-weight: bold;
}

.department-option:hover {
  background-color: #e7f3fe;
}
.bi-chevron-down {
  transition: transform 0.3s ease;
}

.bi-chevron-down.rotate {
  transform: rotate(180deg);
}

