<!-- Dropdown Box -->
<div class="dropdown-box" (click)="toggleDropdown()">
  {{ selectedDepartment }}
  <i class="bi bi-chevron-down"></i>
</div>

<!-- Dropdown Content -->
<div class="dropdown-content" *ngIf="dropdownOpen">
  <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" />

  <!-- Select All Checkbox -->
  <label>
    <input type="checkbox" [checked]="isAllSelected()" (change)="selectAll()" />
    Select All
  </label>

  <!-- Dropdown List -->
  <div *ngFor="let option of filterOptions()">
    <label>
      <input type="checkbox" [checked]="isSelected(option)" (change)="toggleSelection(option)" />
      {{ option.departmentName }}
    </label>
  </div>
</div>
