<div class="box" style="padding: 5px;" (click)="$event.stopPropagation()">
  <div style="height: 6px;"></div>
  <div class="themes-circle"
       *ngFor="let theme of themes"
       [ngClass]="{'active': activeTheme === theme}"
       (click)="setActiveTheme(theme)" [title]='"logout"' class="sidebar-link">
    <i (click)="setActiveIcon('logout'); logout(); $event.stopPropagation()"
       class="fa-solid fa-right-from-bracket"
       [ngClass]="{'icon-active': activeIcon === 'logout'}">
    </i>
  </div>
   <div class="themes-circle"
   *ngFor="let theme of themes"
   [ngClass]="{'active': activeTheme === theme}"
   (click)="setActiveTheme(theme)" [title]='"Profile"' class="sidebar-link">
<i (click)="setActiveIcon('user'); toggleDropdown(); $event.stopPropagation()"
   class="fa-regular fa-circle-user"
   [ngClass]="{'icon-active': activeIcon === 'user'}">
</i>
</div>
  <div *ngIf="dropdownVisible" class="dropdown-card">
    <div class="profile-card">
      <img
        src="/Images/usericon.png"
        alt="Profile Picture"
        class="profile-image"
      />
      <h3 class="truncate" [title]="auth.getUserName()">
        {{ auth.getUserName() }}
      </h3>
      <p class="role">{{ formatRoleName(getPrimaryRole()) }}</p>
      <p class="department truncate" [title]="auth.getDepartmentName()">
        {{ auth.getDepartmentName() }}
      </p>
      <p class="email truncate" [title]="auth.getUserMail()">
        {{ auth.getUserMail() }}
      </p>

      <ng-container *ngIf="!isAdminUser()">
        <hr class="divider" />
        <div class="changebutton">
          <app-style-button
            (clicked)="onChangePassword()"
            label="Change Password"
          ></app-style-button>
        </div>
      </ng-container>
    </div>
  </div>
  <app-changepassword
    [isVisible]="changePasswordVisible"
    (close)="closeChangePassword()"
  >
  </app-changepassword>
</div>
