
<div class="urgentrisks" data-aos="zoom-in">
  <h5>{{title}}</h5>

  @if(list.length!=0)
  {
 <div class="maindiv1">

    <div class="contentList">
      @for(item of list ;track $index)
      {
      <app-dashboardviewrisk [data]="item"></app-dashboardviewrisk>
      }
      @if(list.length==0)
      {
        <div class="placeholderr">
          <h5>No Open Risks To Show</h5>
        </div>

      }

    </div>

  </div>
  }

  @else {
      <div class="empty-state">
            <img height="150px" width="150px" src="/assets/icons/emptyState2.png" />
            <h6>No Risk found</h6>
          </div>

  }

</div>
